<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 2434: [Noi2011]阿狸的打字机 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="AC自动机,树状数组,dfs序">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 2434: [Noi2011]阿狸的打字机">
<meta property="og:url" content="https://tkj666.github.io/38/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.282Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 2434: [Noi2011]阿狸的打字机">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666729">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 2434: [Noi2011]阿狸的打字机" class="lazyload">
          <h1>bzoj 2434: [Noi2011]阿狸的打字机</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：自己看<br>题解：AC自动机+树状数组<br>按照题意建出AC自动机。问x在y中出现多少次，就是y的有几个位置跳若干次fail可以到x。所以我们就可以建fail树，从fail到i建边，将y的点+1，统计x的子树的和。这个可以用dfs序+树状数组实现。<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
#define pa pair&lt;int,int&gt;
using namespace std;

struct trie
{
    int s[26],fail,fa;
}tr[100010];
int tn=0,m,len,pos[100010],n=0,num=0,fst[100010],nn=0,l[100010],r[100010],sum[100010],ans[100010];
char s[100010];
struct edge
{
    int x,y,n;
}e[100010];
vector&lt;pa&gt;q[100010];

void ins(int x,int y)
{
    e[++num]={x,y,fst[x]};
    fst[x]=num;
}
inline void btrie()
{
    int now=0;
    for(int i=0;i&lt;len;i++)
    {
        if(s[i]==&#39;B&#39;)
        now=tr[now].fa;
        else if(s[i]==&#39;P&#39;)
        pos[++n]=now;
        else
        {
            if(!tr[now].s[s[i]-&#39;a&#39;])
            {
                tr[now].s[s[i]-&#39;a&#39;]=++tn;
                tr[tn].fa=now;
            }
            now=tr[now].s[s[i]-&#39;a&#39;];
        }
    }
}
inline void bfail()
{
    queue&lt;int&gt;q;
    for(int i=0;i&lt;26;i++)
    if(tr[0].s[i])
    q.push(tr[0].s[i]);
    while(!q.empty())
    {
        int x=q.front();
        for(int i=0;i&lt;26;i++)
        {
            if(!tr[x].s[i])
            continue;
            int j=tr[x].fail;
            while(j&amp;&amp;!tr[j].s[i])
            j=tr[j].fail;
            if(tr[j].s[i])
            j=tr[j].s[i];
            tr[tr[x].s[i]].fail=j;
            q.push(tr[x].s[i]);
        }
        q.pop();
    }
}
inline void btree()
{
    for(int i=1;i&lt;=tn;i++)
    ins(tr[i].fail,i);
}
void dfs(int x)
{
    l[x]=++nn;
    for(int i=fst[x];i;i=e[i].n)
    {
        int y=e[i].y;
        dfs(y);
    }
    r[x]=nn;
}
int lb(int x)
{
    return x&amp;-x;
}
void add(int x,int y)
{
    for(int i=x;i&lt;=nn;i+=lb(i))
    sum[i]+=y;
}
int get(int x)
{
    if(x==0)
    return 0;
    int ans=0;
    for(int i=x;i&gt;0;i-=lb(i))
    ans+=sum[i];
    return ans;
}
int main()
{
    scanf(&quot;%s%d&quot;,s,&amp;m);
    len=strlen(s);
    btrie();
    bfail();
    btree();
    dfs(0);/*
    for(int i=0;i&lt;=tn;i++)
    {
        printf(&quot;i:%d fa:%d fail:%d s:&quot;,i,tr[i].fa,tr[i].fail);
        for(int j=0;j&lt;26;j++)
        printf(&quot;%d &quot;,tr[i].s[j]);
        puts(&quot;&quot;);
    }
    for(int i=1;i&lt;=num;i++)
    printf(&quot; %d %d\n&quot;,e[i].x,e[i].y);
    for(int i=0;i&lt;=tn;i++)
    printf(&quot; %d %d\n&quot;,l[i],r[i]);*/
    for(int i=0;i&lt;m;i++)
    {
        int x,y;
        scanf(&quot;%d%d&quot;,&amp;x,&amp;y);
        q[y].push_back(make_pair(x,i));
    }
    n=0;
    int now=0;
    for(int i=0;i&lt;len;i++)
    {
        if(s[i]==&#39;B&#39;)
        {
            add(l[now],-1);
            now=tr[now].fa;
        }
        else if(s[i]==&#39;P&#39;)
        {
            n++;
            for(int j=0;j&lt;q[n].size();j++)
            {
                ans[q[n][j].second]=get(r[pos[q[n][j].first]])-get(l[pos[q[n][j].first]]-1);
            }
        }
        else
        {
            now=tr[now].s[s[i]-&#39;a&#39;];
            add(l[now],1);
        }/*
        printf(&quot;now:%d\n&quot;,now);
        for(int i=1;i&lt;=nn;i++)
        printf(&quot;%d &quot;,get(i)-get(i-1));
        puts(&quot;&quot;);*/
    }
    for(int i=0;i&lt;m;i++)
    printf(&quot;%d\n&quot;,ans[i]);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
