<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 2331: [SCOI2011]地板 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="DP,插头DP">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 2331: [SCOI2011]地板">
<meta property="og:url" content="https://tkj666.github.io/37/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.280Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 2331: [SCOI2011]地板">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666687">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 2331: [SCOI2011]地板" class="lazyload">
          <h1>bzoj 2331: [SCOI2011]地板</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：用L形地砖铺满有障碍的n×m的地板，问方案数。<br>题解：插头DP<br>0表示没插头，1表示这个插头连出去的还没拐弯，2表示这个插头连出去拐过弯了。<br>转移：<br>00 =&gt; 01 10 22<br>11 =&gt; 00<br>10 =&gt; 01 20<br>01 =&gt; 10 02<br>20 =&gt; 02 00<br>02 =&gt; 20 00<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;

int n, m;
const int hmod = 402503, mod = 20110520;
char mp[110][110], tmp[110][110];
struct ha
{
    struct node
    {
        int hh, ori, val;
        node *n;
        node(int hh = 0, int ori = 0, node *n = NULL):hh(hh), ori(ori), val(0), n(n){}
    } *fst[hmod], pool[200000], *now;
    void clear()
    {
        memset(fst, 0, sizeof(fst));
        now = pool;
    }
    ha()
    {
        clear();
    }
    node *ins(int x, int hh)
    {
        node *p = new(now++) node(hh, x, fst[hh]);
        return fst[hh] = p;
    }
    int &amp;operator[](int x)
    {
        int hh = x % hmod;
        for (node *it = fst[hh]; it; it = it-&gt;n)
            if (it-&gt;ori == x)
                return it-&gt;val;
        return ins(x, hh)-&gt;val;
    }
}f[2];

int get(int x, int y)
{
    return x &gt;&gt; (y &lt;&lt; 1) &amp; 3;
}
void chg(int &amp;x, int y, int z)
{
    x = ((x &gt;&gt; (y + 1 &lt;&lt; 1) &lt;&lt; 2) + z &lt;&lt; (y &lt;&lt; 1)) + (x &amp; (1 &lt;&lt; (y &lt;&lt; 1)) - 1);
}
int main()
{
    scanf(&quot;%d%d&quot;, &amp;n, &amp;m);
    for (int i = 1; i &lt;= n; i++)
        scanf(&quot;%s&quot;, mp[i] + 1);
    if (n &lt; m)
    {
        for (int i = 1; i &lt;= n; i++)
            for (int j = 1; j &lt;= m; j++)
                tmp[j][i] = mp[i][j];
        memcpy(mp, tmp, sizeof(mp));
        swap(n, m);
    }
    int p = 0;
    f[p].clear();
    f[p][0] = 1;
    for (int i = 1; i &lt;= n; i++)
    {
        p ^= 1;
        f[p].clear();
        for (ha::node *it = f[p^1].pool; it != f[p^1].now; it++)
            (f[p][it-&gt;ori &lt;&lt; 2] += it-&gt;val) %= mod;
        for (int j = 1; j &lt;= m; j++)
        {
            p ^= 1;
            f[p].clear();
            for (ha::node *it = f[p^1].pool; it != f[p^1].now; it++)
            {
                if (mp[i][j] == &#39;*&#39;)
                    (f[p][it-&gt;ori] += it-&gt;val) %= mod;
                else
                {
                    int l = get(it-&gt;ori, j), u = get(it-&gt;ori, j + 1);
                    if (l == 0 &amp;&amp; u == 0)
                    {
                        if (mp[i+1][j] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 1);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                        if (mp[i][j+1] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j+1, 1);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                        if (mp[i][j+1] == &#39;_&#39; &amp;&amp; mp[i+1][j] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 2);
                            chg(hh, j+1, 2);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                    }
                    else if (l == 1 &amp;&amp; u == 1)
                    {
                        int hh = it-&gt;ori;
                        chg(hh, j, 0);
                        chg(hh, j+1, 0);
                        (f[p][hh] += it-&gt;val) %= mod;
                    }
                    else if (l == 1 &amp;&amp; u == 0)
                    {
                        if (mp[i][j+1] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 0);
                            chg(hh, j+1, 1);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                        if (mp[i+1][j] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 2);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                    }
                    else if (l == 0 &amp;&amp; u == 1)
                    {
                        if (mp[i][j+1] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j+1, 2);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                        if (mp[i+1][j] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 1);
                            chg(hh, j+1, 0);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                    }
                    else if (l == 2 &amp;&amp; u == 0)
                    {
                        if (mp[i][j+1] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 0);
                            chg(hh, j+1, 2);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                        int hh = it-&gt;ori;
                        chg(hh, j, 0);
                        chg(hh, j+1, 0);
                        (f[p][hh] += it-&gt;val) %= mod;
                    }
                    else if (l == 0 &amp;&amp; u == 2)
                    {
                        if (mp[i+1][j] == &#39;_&#39;)
                        {
                            int hh = it-&gt;ori;
                            chg(hh, j, 2);
                            chg(hh, j+1, 0);
                            (f[p][hh] += it-&gt;val) %= mod;
                        }
                        int hh = it-&gt;ori;
                        chg(hh, j, 0);
                        chg(hh, j+1, 0);
                        (f[p][hh] += it-&gt;val) %= mod;
                    }
                }
            }/*
            printf(&quot;i:%d j:%d\n&quot;, i, j);
            for (ha::node *it = f[p].pool; it != f[p].now; it++)
            {
                printf(&quot;S: &quot;);
                for (int j = 1; j &lt;= m+1; j++)
                    printf(&quot;%d &quot;, get(it-&gt;ori, j));
                printf(&quot;val: %d\n&quot;, it-&gt;val);
            }*/
        }
    }
    printf(&quot;%d\n&quot;, f[p][0]);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
