<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4836: [Lydsy1704月赛]二元运算 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：">
<meta name="keywords" content="分治,fft">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4836: [Lydsy1704月赛]二元运算">
<meta property="og:url" content="https://tkj666.github.io/117/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.352Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4836: [Lydsy1704月赛]二元运算">
<meta name="twitter:description" content="题意：">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666641">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4836: [Lydsy1704月赛]二元运算" class="lazyload">
          <h1>bzoj 4836: [Lydsy1704月赛]二元运算</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><a id="more"></a>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>因为$a_i$和$b_i$的范围都很小，我们可以把每个值的方案数都算出来，然后$O(1)$回答。如果都是$x + y$或$x - y$的话就是裸的<code>fft</code>了，有这个条件我们可以分治来搞，对于当前区间把$a$的左半边和$b$的右半边求出加起来的方案数，把$a$的右半边和$b$的左半边求出减的方案数，全部加起来就好了。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

const double pi = 3.1415926535897932384626;
const int N = 131072;
int T, n, m, bin[N], A[N], B[N], q;
long long ans[N];
struct Complex
{
    double real, imag;
    Complex() {}
    Complex(double real, double imag) : real(real), imag(imag) {}
} a[N], b[N], w[N], c[N];
Complex operator+(Complex x, Complex y) { return Complex(x.real + y.real, x.imag + y.imag); }
Complex operator-(Complex x, Complex y) { return Complex(x.real - y.real, x.imag - y.imag); }
Complex operator*(Complex x, Complex y) { return Complex(x.real * y.real - x.imag * y.imag, x.real * y.imag + x.imag * y.real); }

void bit_reverse(int n, Complex *x)
{
    for (int i = 0, j = 0; i &lt; n; i++)
    {
        if (i &gt; j) swap(x[i], x[j]);
        for (int k = n &gt;&gt; 1; (j ^= k) &lt; k; k &gt;&gt;= 1);
    }
}
void fft(int n, Complex *x, int op)
{
    if (op == -1)
        for (int i = 1; i &lt; n; i++)
            w[i].imag *= -1;
    bit_reverse(n, x);
    for (int i = 2; i &lt;= n; i &lt;&lt;= 1)
    {
        int m = i &gt;&gt; 1;
        for (int j = 0; j &lt; n; j += i)
            for (int k = 0; k &lt; m; k++)
            {
                Complex hh = x[j + m + k] * w[n / i * k];
                x[j + m + k] = x[j + k] - hh;
                x[j + k] = x[j + k] + hh;
            }
    }
    if (op == -1)
        for (int i = 0; i &lt; n; i++)
        {
            w[i].imag *= -1;
            x[i].real /= n;
        }
}
void wk(int l, int r, bool op) // 是否算等于的方案 !!![l,r)
{
    if (l + 1 == r)
    {
        if (op) ans[0] += A[l] * B[l];
        return;
    }
    int md = l + r &gt;&gt; 1;
    wk(l, md, op);
    wk(md, r, op);
    int num = 0;
    if (!op)
    {
        for (int i = l; i &lt; md; i++)
        {
            a[num++] = Complex(A[i], 0);
        }
        num = 0;
        for (int i = md; i &lt; r; i++)
        {
            b[num++] = Complex(B[i], 0);
        }
    }
    else
    {
        for (int i = md; i &lt; r; i++)
        {
            a[num++] = Complex(A[i], 0);
        }
        num = 0;
        for (int i = md - 1; i &gt;= l; i--)
        {
            b[num++] = Complex(B[i], 0);
        }
    }
    for (int i = num; i &lt; (num &lt;&lt; 1); i++) a[i] = b[i] = Complex(0, 0);
    num &lt;&lt;= 1;/*
    for (int i = 0; i &lt; num; i++)
        printf(&quot;%.0lf &quot;, a[i].real);
    puts(&quot;&quot;);
    for (int i = 0; i &lt; num; i++)
        printf(&quot;%.0lf &quot;, b[i].real);
    puts(&quot;&quot;);*/
    Complex wn(cos(2 * pi / num), sin(2 * pi / num));
    for (int i = 1; i &lt; num; i++)
        w[i] = w[i - 1] * wn;
    fft(num, a, 1);
    fft(num, b, 1);
    for (int i = 0; i &lt; num; i++)
        c[i] = a[i] * b[i];
    fft(num, c, -1);/*
    for (int i = 0; i &lt; num; i++)
        printf(&quot;%lf %lf\n&quot;, c[i].real, c[i].imag);
    puts(&quot;&quot;);*/
    if (!op)
        for (int i = 0; i &lt; num; i++)
            ans[l + md + i] += llround(c[i].real);
    else
        for (int i = 0; i &lt; num; i++)
            ans[i + 1] += llround(c[i].real);
}
int main()
{
    scanf(&quot;%d&quot;, &amp;T);
    w[0] = Complex(1, 0);/*
    puts(&quot;w:&quot;);
    for (int i = 0; i &lt; N; i++)
        printf(&quot;%lf %lf\n&quot;, w[i].real, w[i].imag);
    puts(&quot;&quot;);*/
    while (T--)
    {
        memset(A, 0, sizeof(A));
        memset(B, 0, sizeof(B));
        memset(ans, 0, sizeof(ans));
        scanf(&quot;%d%d%d&quot;, &amp;n, &amp;m, &amp;q);
        for (int i = 1; i &lt;= n; i++)
        {
            int x;
            scanf(&quot;%d&quot;, &amp;x);
            A[x]++;
        }
        for (int i = 1; i &lt;= m; i++)
        {
            int x;
            scanf(&quot;%d&quot;, &amp;x);
            B[x]++;
        }
        wk(0, N &gt;&gt; 1, 0);/*
        for (int i = 0; i &lt; N; i++)
            printf(&quot;%lld &quot;, ans[i]);
        puts(&quot;&quot;);*/
        wk(0, N &gt;&gt; 1, 1);/*
        for (int i = 0; i &lt; N; i++)
            printf(&quot;%lld &quot;, ans[i]);
        puts(&quot;&quot;);*/
        while (q--)
        {
            int x;
            scanf(&quot;%d&quot;, &amp;x);
            printf(&quot;%lld\n&quot;, ans[x]);
        }
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
