<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4606: [Apio2008]DNA - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：给你一个包含通配符的DNA序列，对每个碱基定义一个优先级$A &amp;gt; C &amp;gt; G &amp;gt; T$。定义：如果一个DNA序列是范式-1的，那么它每个碱基要么和它右边的碱基相同，要么比它右边的碱基优先级高；如果一个DNA序列是范式-k的，那么它要么属于范式-(k - 1)，要么是一个属于范式-(k - 1)和一个范式-1的连接。往通配符里填碱基，使它属于范式-k，找出这中间字典序排第$r">
<meta name="keywords" content="DP">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4606: [Apio2008]DNA">
<meta property="og:url" content="https://tkj666.github.io/124/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：给你一个包含通配符的DNA序列，对每个碱基定义一个优先级$A &amp;gt; C &amp;gt; G &amp;gt; T$。定义：如果一个DNA序列是范式-1的，那么它每个碱基要么和它右边的碱基相同，要么比它右边的碱基优先级高；如果一个DNA序列是范式-k的，那么它要么属于范式-(k - 1)，要么是一个属于范式-(k - 1)和一个范式-1的连接。往通配符里填碱基，使它属于范式-k，找出这中间字典序排第$r">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.351Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4606: [Apio2008]DNA">
<meta name="twitter:description" content="题意：给你一个包含通配符的DNA序列，对每个碱基定义一个优先级$A &amp;gt; C &amp;gt; G &amp;gt; T$。定义：如果一个DNA序列是范式-1的，那么它每个碱基要么和它右边的碱基相同，要么比它右边的碱基优先级高；如果一个DNA序列是范式-k的，那么它要么属于范式-(k - 1)，要么是一个属于范式-(k - 1)和一个范式-1的连接。往通配符里填碱基，使它属于范式-k，找出这中间字典序排第$r">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666628">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4606: [Apio2008]DNA" class="lazyload">
          <h1>bzoj 4606: [Apio2008]DNA</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>给你一个包含通配符的DNA序列，对每个碱基定义一个优先级$A &gt; C &gt; G &gt; T$。定义：如果一个DNA序列是<code>范式-1</code>的，那么它每个碱基要么和它右边的碱基相同，要么比它右边的碱基优先级高；如果一个DNA序列是<code>范式-k</code>的，那么它要么属于<code>范式-(k - 1)</code>，要么是一个属于<code>范式-(k - 1)</code>和一个<code>范式-1</code>的连接。往通配符里填碱基，使它属于<code>范式-k</code>，找出这中间字典序排第$r$的。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>这次是看错数据范围。。。看多了一个0。。。然后就MLE了。。。<br>这个范式其实就是$a_i &lt; a_{i + 1}$的个数$ + 1$。设$f_{i, j, k}$表示$i$到$n$，$a_i = j$，已经有$k$个$a_i &lt; a_{i + 1}$的方案数。倒着求$f$，然后正着找到第$r$个就好了。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

int m, k, a[50010], ans[50010];
long long r, f[50010][4][10];
char s[50010];

int main()
{
    scanf(&quot;%d%d%lld%s&quot;, &amp;m, &amp;k, &amp;r, s + 1);
    for (int i = 1; i &lt;= m; i++)
    {
        if (s[i] == &#39;A&#39;) a[i] = 3;
        else if (s[i] == &#39;C&#39;) a[i] = 2;
        else if (s[i] == &#39;G&#39;) a[i] = 1;
        else if (s[i] == &#39;T&#39;) a[i] = 0;
        else a[i] = -1;
    }/*
    for (int i = 1; i &lt;= m; i++)
        printf(&quot;%d &quot;, a[i]);
    puts(&quot;&quot;);*/
    if (~a[m]) f[m][a[m]][0] = 1;
    else f[m][0][0] = f[m][1][0] = f[m][2][0] = f[m][3][0] = 1;
    for (int i = m - 1; i &gt; 0; i--)
        for (int j = 0; j &lt; k; j++)
        {
            if (~a[i])
            {
                for (int l = a[i]; l &gt;= 0; l--)
                    f[i][a[i]][j] += f[i + 1][l][j];
                if (j)
                    for (int l = a[i] + 1; l &lt; 4; l++)
                        f[i][a[i]][j] += f[i + 1][l][j - 1];
            }
            else
            {
                // printf(&quot;i: %d j: %d\n&quot;, i, j);
                for (a[i] = 0; a[i] &lt; 4; a[i]++)
                {
                    for (int l = a[i]; l &gt;= 0; l--)
                        f[i][a[i]][j] += f[i + 1][l][j];
                    if (j)
                    {
                        // puts(&quot;a&quot;);
                        for (int l = a[i] + 1; l &lt; 4; l++)
                            f[i][a[i]][j] += f[i + 1][l][j - 1];
                    }
                }
                a[i] = -1;
            }
        }/*
    for (int i = 1; i &lt;= m; i++)
    {
        for (int j = 0; j &lt; 4; j++)
        {
            for (int l = 0; l &lt; k; l++)
                printf(&quot;%lld &quot;, f[i][j][l]);
            puts(&quot;&quot;);
        }
        puts(&quot;&quot;);
    }*/
    ans[0] = 3;
    int used = 0;
    for (int i = 1; i &lt;= m; i++)
    {
        for (int j = 3; j &gt;= 0; j--)
        {
            int mx = k - used - (j &gt; ans[i - 1]);
            long long hh = 0;
            for (int l = 0; l &lt; mx; l++)
                hh += f[i][j][l];
            if (hh &lt; r)
                r -= hh;
            else
            {
                ans[i] = j;
                used += j &gt; ans[i - 1];
                break;
            }
        }
    }
    for (int i = 1; i &lt;= m; i++)
        if (ans[i] == 3) putchar(&#39;A&#39;);
        else if (ans[i] == 2) putchar(&#39;C&#39;);
        else if (ans[i] == 1) putchar(&#39;G&#39;);
        else putchar(&#39;T&#39;);
    puts(&quot;&quot;);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
