<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4373: 算术天才⑨与等差数列 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="线段树">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4373: 算术天才⑨与等差数列">
<meta property="og:url" content="https://tkj666.github.io/67/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.332Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4373: 算术天才⑨与等差数列">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666733">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4373: 算术天才⑨与等差数列" class="lazyload">
          <h1>bzoj 4373: 算术天才⑨与等差数列</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：在一个长度为n的序列中，询问l到r排序后是不是公差为k的等差数列，或修改其中一个数。<br>题解：线段树<br>$l\sim r$为等差数列，那么它们差分后的$\gcd$一定是k，最小值和最大值也要满足$min+k\cdot(r-l)=max$。还有一点就是区间内没有重复的数，（不过这题数据好像没卡这个点。。。）这个可以用set实现，具体可以看<a href="http://blog.csdn.net/WorldWide_D/article/details/52239745" target="_blank" rel="noopener">WorldWide_D大佬的博客</a><del>我就不打了</del><br>丑到炸裂代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
#define pa pair&lt;int,int&gt;
using namespace std;

int n,m,a[300010],ans=0,tot=1;
struct tree
{
    int l,r,mx,mn,g;
} tr[5000010];
struct ret
{
    int mn,mx,g;
};

char B[1&lt;&lt;14],*S=B,*T=B;
#define gc (S==T&amp;&amp;(T=(S=B)+fread(B,1,1&lt;&lt;14,stdin),S==T)?-1:*S++)
inline int read(){
    int x=0,f=1; char ch=gc;
    while(ch&lt;&#39;0&#39; || ch&gt;&#39;9&#39;){if(ch==&#39;-&#39;)f=-1; ch=gc;}
    while(ch&gt;=&#39;0&#39; &amp;&amp; ch&lt;=&#39;9&#39;){x=(x&lt;&lt;1)+(x&lt;&lt;3)+ch-&#39;0&#39;; ch=gc;}
    return x*f;
}
int gcd(int x,int y)
{
    return y==0?x:gcd(y,x%y);
}
inline void pushup(int i)
{
    int lc=i&lt;&lt;1,rc=lc|1;
    tr[i].mx=max(tr[lc].mx,tr[rc].mx);
    tr[i].mn=min(tr[lc].mn,tr[rc].mn);
    tr[i].g=abs(gcd(gcd(tr[lc].g,tr[rc].g),tr[rc].l-tr[lc].r));
    tr[i].l=tr[lc].l;
    tr[i].r=tr[rc].r;
}
inline void chg(int p,int x)
{
    int i=p+tot;
//    printf(&quot;%d\n&quot;,i);
    tr[i].mn=tr[i].mx=x;
    a[p]=x;
    tr[i].l=tr[i].r=x;
    for(i&gt;&gt;=1;i;i&gt;&gt;=1)
    pushup(i);
}
inline ret get(int l,int r)
{
    ret ans={2147483647,0,0};
    int ll=-1,rr=-1;
    for(l+=tot-1,r+=tot+1;l^r^1;l&gt;&gt;=1,r&gt;&gt;=1)
    {
        if(~l&amp;1)
        {
            ans.mn=min(ans.mn,tr[l^1].mn);
            ans.mx=max(ans.mx,tr[l^1].mx);
            ans.g=gcd(ans.g,tr[l^1].g);
            if(~ll)
            ans.g=gcd(ans.g,tr[ll].l-tr[l^1].r);
            ll=l^1;
//            printf(&quot;l:%d %d\n&quot;,tr[l^1].l,tr[l^1].r);
        }
        if(r&amp;1)
        {
            ans.mn=min(ans.mn,tr[r^1].mn);
            ans.mx=max(ans.mx,tr[r^1].mx);
            ans.g=gcd(ans.g,tr[r^1].g);
            if(~rr)
            ans.g=gcd(ans.g,tr[r^1].l-tr[rr].r);
            rr=r^1;
//            printf(&quot;r:%d %d\n&quot;,tr[r^1].l,tr[r^1].r);
        }
    }
//    printf(&quot;ll:%d rr:%d\n&quot;,ll,rr);
    if((~ll)&amp;&amp;(~rr))
    ans.g=gcd(ans.g,tr[rr].l-tr[ll].r);
    ans.g=abs(ans.g);
    return ans;
}
int main()
{
    n=read();
    m=read();
    while(tot&lt;=n+3)
    tot&lt;&lt;=1;
    for(int i=1; i&lt;=n; i++)
    {
        a[i]=read();
        int p=i+tot;
        tr[p].mn=tr[p].mx=a[i];
        tr[p].l=tr[p].r=a[i];
    }
    for(int i=1; i&lt;=n; i++)
    for(int j=(i+tot&gt;&gt;1);j;j&gt;&gt;=1)
    pushup(j);/*
    for(int i=1;i&lt;=tot*2+1;i++)
    printf(&quot;i:%d l:%d r:%d mn:%d mx:%d g:%d\n&quot;,i,tr[i].l,tr[i].r,tr[i].mn,tr[i].mx,tr[i].g);*/
    while(m--)
    {
        int op;
        op=read();
        if(op==1)
        {
            int x=read(),y=read();
#ifdef ONLINE_JUDGE
            x^=ans;
            y^=ans;
#endif
            chg(x,y);
        }
        else
        {
            int l=read(),r=read(),k=read();
#ifdef ONLINE_JUDGE
            l^=ans;
            r^=ans;
            k^=ans;
#endif
//              assert(l&lt;=r);
            if(l&gt;r)
            swap(l,r);
            ret hh=get(l,r);
//            printf(&quot;%d %d %d\n&quot;,hh.mn,hh.mx,hh.g);
            if(hh.g!=0&amp;&amp;hh.g!=k||hh.mx!=hh.mn+(r-l)*k)
                puts(&quot;No&quot;);
            else
            {
                puts(&quot;Yes&quot;);
                ans++;
            }
        }/*
    for(int i=1;i&lt;=tot*2+1;i++)
    printf(&quot;i:%d l:%d r:%d mn:%d mx:%d g:%d\n&quot;,i,tr[i].l,tr[i].r,tr[i].mn,tr[i].mx,tr[i].g);*/
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
