<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 5340: [Ctsc2018]假面 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：有$n$个怪，第$i$个怪的血量为$m_i$。你有两个操作，0操作可以有$p$的概率使一个怪掉$1$血，1操作可以选定一个怪的集合，并等概率从中选一个存活的怪。如果一个怪的血量降至$0$或以下，他就会死亡。给你一个长度为Q操作序列，对于每个$1$操作求集合中每个怪被选中的概率。最后输出每个怪的期望血量。设$C$为1操作的数量，$n \le 200, Q \le 20000, m_i \le">
<meta name="keywords" content="dp">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 5340: [Ctsc2018]假面">
<meta property="og:url" content="https://tkj666.github.io/139/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：有$n$个怪，第$i$个怪的血量为$m_i$。你有两个操作，0操作可以有$p$的概率使一个怪掉$1$血，1操作可以选定一个怪的集合，并等概率从中选一个存活的怪。如果一个怪的血量降至$0$或以下，他就会死亡。给你一个长度为Q操作序列，对于每个$1$操作求集合中每个怪被选中的概率。最后输出每个怪的期望血量。设$C$为1操作的数量，$n \le 200, Q \le 20000, m_i \le">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.378Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 5340: [Ctsc2018]假面">
<meta name="twitter:description" content="题意：有$n$个怪，第$i$个怪的血量为$m_i$。你有两个操作，0操作可以有$p$的概率使一个怪掉$1$血，1操作可以选定一个怪的集合，并等概率从中选一个存活的怪。如果一个怪的血量降至$0$或以下，他就会死亡。给你一个长度为Q操作序列，对于每个$1$操作求集合中每个怪被选中的概率。最后输出每个怪的期望血量。设$C$为1操作的数量，$n \le 200, Q \le 20000, m_i \le">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666598">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 5340: [Ctsc2018]假面" class="lazyload">
          <h1>bzoj 5340: [Ctsc2018]假面</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>有$n$个怪，第$i$个怪的血量为$m_i$。你有两个操作，<code>0</code>操作可以有$p$的概率使一个怪掉$1$血，<code>1</code>操作可以选定一个怪的集合，并等概率从中选一个存活的怪。如果一个怪的血量降至$0$或以下，他就会死亡。给你一个长度为<code>Q</code>操作序列，对于每个$1$操作求集合中每个怪被选中的概率。最后输出每个怪的期望血量。设$C$为<code>1</code>操作的数量，$n \le 200, Q \le 20000, m_i \le 100, C \le 1000$</p>
<a id="more"></a>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p><del>阅读理解题</del></p>
<p>对于每个怪维护一个$p_i$表示这个怪剩$i$滴血的概率，<code>0</code>操作的时候更新：</p>
<script type="math/tex; mode=display">p_i = 
\begin{cases}
    (1 - \frac{u}{v}) p_i + \frac{u}{v} p_{i + 1}, & i \ne 0 \\\
    p_i + \frac{u}{v} p_{i + 1}, & i = 0
\end{cases}</script><p><code>1</code>操作时，再用一个$f_i$表示恰好选中$i$个怪的概率。</p>
<script type="math/tex; mode=display">f_i = 
\begin{cases}
    p_{id, 0} f_i + (1 - p_{id, 0})f_{i - 1}, & i \ne 0 \\\
    p_{id, 0} f_i, & i = 0
\end{cases}</script><p>显然，$id$的顺序是不会影响$f$的，所以我们求$id_i$的答案的时候可以把它当成最后一个加进来的。这样就可以把$id_i$的影响消除，具体来说就是把原来的$f$解出来，然后随便算就好了。</p>
<p>最后的血量直接用期望的定义权值×概率就好了。</p>
<p>总复杂度$O(C n^2 + (Q - C)m)$<br>注意要预处理一下逆元，因为这个T了好几发。。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

const int mod = 998244353;
int n, m[210], q, a[210];
long long p[210][110], f[210]; // 第i个人有j滴血的概率   选了i个人的概率
long long g[210], inv[210];

long long Pow(long long x, long long y)
{
    long long ans = 1;
    for (; y; y &gt;&gt;= 1, x = x * x % mod)
        if (y &amp; 1) ans = ans * x % mod;
    return ans;
}
int read()
{
    int x = 0;
    char ch = getchar();
    while (ch &lt; &#39;0&#39; || ch &gt; &#39;9&#39;) ch = getchar();
    while (ch &gt;= &#39;0&#39; &amp;&amp; ch &lt;= &#39;9&#39;) x = x * 10 + ch - &#39;0&#39;, ch = getchar();
    return x;
}
int add(int x, int y)
{
    int ans = x + y;
    if (ans &gt;= mod) ans -= mod;
    if (ans &lt;= -mod) ans += mod;
    return ans;
}
int main()
{
    n = read();
    for (int i = 1; i &lt;= n; i++)
    {
        m[i] = read();
        p[i][m[i]] = 1;
        inv[i] = Pow(i, mod - 2);
    }
    scanf(&quot;%d&quot;, &amp;q);
    while (q--)
    {
        int op;
        op = read();
        if (op == 0)
        {
            int id;
            long long u, v;
            id = read(), u = read(), v = read();
            u = u * Pow(v, mod - 2) % mod;
            for (int i = 0; i &lt;= m[id]; i++)
                p[id][i] = add(p[id][i] * (i ? 1 - u : 1) % mod, p[id][i + 1] * u % mod);
        }
        else
        {
            int k;
            k = read();
            for (int i = 1; i &lt;= k; i++)
                a[i] = read();
            f[0] = 1;
            for (int i = 1; i &lt;= k; i++)
            {
                f[i] = 0;
                for (int j = i; j &gt; 0; j--)
                    f[j] = add(f[j] * p[a[i]][0] % mod, f[j - 1] * (1 - p[a[i]][0]) % mod);
                f[0] = f[0] * p[a[i]][0] % mod;
            }
            for (int i = 1; i &lt;= k; i++)
            {
                long long ans = 0;
                if (p[a[i]][0])
                {
                    long long invp = Pow(p[a[i]][0], mod - 2);
                    g[0] = f[0] * invp % mod;
                    ans = add(ans, g[0]);
                    for (int j = 1; j &lt; k; j++)
                    {
                        g[j] = (f[j] - g[j - 1] * (1 - p[a[i]][0]) % mod) % mod * invp % mod;
                        ans = add(ans, g[j] * inv[j + 1] % mod);
                    }
                }
                else
                {
                    for (int j = 1; j &lt;= k; j++)
                        ans = add(ans, f[j] * inv[j] % mod);
                }
                printf(&quot;%lld &quot;, (ans * (1 - p[a[i]][0]) % mod + mod) % mod);
            }
            puts(&quot;&quot;);
        }
    }
    for (int i = 1; i &lt;= n; i++)
    {
        long long ans = 0;
        for (int j = 1; j &lt;= m[i]; j++)
            ans = (ans + j * p[i][j] % mod) % mod;
        printf(&quot;%lld &quot;, (ans + mod) % mod);
    }
    puts(&quot;&quot;);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
