<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4199: [Noi2015]品酒大会 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="线段树,树状数组,后缀自动机">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4199: [Noi2015]品酒大会">
<meta property="og:url" content="https://tkj666.github.io/65/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.330Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4199: [Noi2015]品酒大会">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666691">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4199: [Noi2015]品酒大会" class="lazyload">
          <h1>bzoj 4199: [Noi2015]品酒大会</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：给出一个字符串，每个位置有权值，问对于每个$0\le i\lt n$问有多少对位置往后$i$位是相同的，并且求每对权值乘积的最大值<br>题解：SAM+线段树（+树状数组）<br>把原串翻转，这样SAM里每个节点表示的就是从某个节点开始的字串了。找所有满足$min\le i\le max$的节点，这些节点就可以对$i$的第一问贡献$pnum\times (pnum-1)$，第二问贡献$\max \lbrace posmx1\times posmx2, posmn\times negmx, negmn1\times negmn2 \rbrace$的答案，其中$pos$、$neg$表示正负，$mx$、$mn$表示最大、最小，$1$、$2$表示第一、第二大/小。遍历每个节点，更新$min$到$max$的答案，可以用线段树（+树状数组）维护。<br>代码：</p>
<pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

long long n, a[300010];
char s[300010];
const long long inf=0x3f3f3f3f3f3f3f3fLL;
struct SAM
{
    struct node
    {
        int max, pnum;
        long long posmx1, posmx2, posmn, negmx, negmn1, negmn2;
        node *ch[26], *next;
        node(int max = 0) : max(max), pnum(1), ch(), next(NULL), posmx1(-1), posmx2(-1), posmn(-1), negmx(1), negmn1(1), negmn2(1) {}
        inline int min()
        {
            return next-&gt;max + 1;
        }
        long long get()
        {
            long long a=(posmx1!=-1&amp;&amp;posmx2!=-1)?posmx1*posmx2:-inf;
            long long b=(posmn!=-1&amp;&amp;negmx!=1)?posmn*negmx:-inf;
            long long c=(negmn1!=1&amp;&amp;negmn2!=1)?negmn1*negmn2:-inf;
            return std::max(std::max(a,b),c);
        }
    } * start, *last, pool[600010], *now;
    vector&lt;node *&gt; a;
    void init()
    {
        now = pool;
        start = last = new (now++) node;
    }
    void extend(int c, long long a)
    {
        node *u = new (now++) node(last-&gt;max + 1), *v = last;
        if(a&gt;0)
        u-&gt;posmx1=u-&gt;posmn=a;
        else
        u-&gt;negmx=u-&gt;negmn1=a;
        while (v &amp;&amp; !v-&gt;ch[c])
        {
            v-&gt;ch[c] = u;
            v = v-&gt;next;
        }
        if (!v)
            u-&gt;next = start;
        else if(v-&gt;ch[c]-&gt;max == v-&gt;max + 1)
            u-&gt;next = v-&gt;ch[c];
        else
        {
            node *n = new (now++) node(v-&gt;max + 1), *o = v-&gt;ch[c];
            n-&gt;pnum = 0;
            copy(o-&gt;ch, o-&gt;ch + 26, n-&gt;ch);
            n-&gt;next = o-&gt;next;
            u-&gt;next = o-&gt;next = n;
            while(v &amp;&amp; v-&gt;ch[c] == o)
            {
                v-&gt;ch[c] = n;
                v = v-&gt;next;
            }
        }
        last = u;
    }
    void geta()
    {
        static int hh[300010];
        memset(hh, 0, sizeof(hh));
        int mx = 0;
        for(node *p = pool; p != now; p++)
        {
            mx=max(mx,p-&gt;max);
            hh[p-&gt;max]++;
        }
        a.resize(now - pool);
        for(int i = 1; i &lt;= mx; i++)
        hh[i] += hh[i-1];
        for(node *p = pool; p != now; p++)
            a[--hh[p-&gt;max]] = p;
    }
    void getpnum()
    {
        geta();
        for(int i = a.size()-1; i &gt; 0; i--)
        {
            node *x=a[i], *y=a[i]-&gt;next;
            y-&gt;pnum+=x-&gt;pnum;
            vector&lt;long long&gt;hh;
            hh.push_back(x-&gt;posmx1);
            hh.push_back(x-&gt;posmx2);
            hh.push_back(y-&gt;posmx1);
            hh.push_back(y-&gt;posmx2);
            sort(hh.begin(),hh.end());
            y-&gt;posmx1=hh[3];
            y-&gt;posmx2=hh[2];
            hh.clear();
            if(y-&gt;posmn == -1 || x-&gt;posmn == -1)
            y-&gt;posmn = max(y-&gt;posmn, x-&gt;posmn);
            else
            y-&gt;posmn = min(y-&gt;posmn, x-&gt;posmn);
            hh.push_back(x-&gt;negmn1);
            hh.push_back(x-&gt;negmn2);
            hh.push_back(y-&gt;negmn1);
            hh.push_back(y-&gt;negmn2);
            sort(hh.begin(),hh.end());
            y-&gt;negmn1=hh[0];
            y-&gt;negmn2=hh[1];
            if(y-&gt;negmx == 1 || x-&gt;negmx == 1)
            y-&gt;negmx = min(y-&gt;negmx, x-&gt;negmx);
            else
            y-&gt;negmx = max(y-&gt;negmx, x-&gt;negmx);
        }
    }
}sam;
struct BIT
{
    long long s[300010];
    BIT()
    {
        memset(s,0,sizeof(s));
    }
    int lb(int x)
    {
        return x &amp; -x;
    }
    void add(int x, long long y)
    {
        for(long long i = x; i &lt;= n; i += lb(i))
            s[i] += y;
    }
    long long get(int x)
    {
        long long ans = 0;
        for(int i = x; i; i -= lb(i))
            ans += s[i];
        return ans;
    }
}bit;
struct segment_tree
{
    long long a[1000010],m;
    segment_tree()
    {
        memset(a,-63,sizeof(a));
    }
    void getm()
    {
        m=1;
        while(m&lt;n+2)
        m&lt;&lt;=1;
    }
    void chg(int l, int r, long long x)
    {
        l--;
        r++;
        l+=m;
        r+=m;
        while(l^r^1)
        {
            if(~l&amp;1)
            a[l^1]=max(a[l^1],x);
            if(r&amp;1)
            a[r^1]=max(a[r^1],x);
            l&gt;&gt;=1;
            r&gt;&gt;=1;
        }
    }
    long long get(int x)
    {
        x+=m;
        long long ans=-inf;
        while(x)
        {
            ans=max(ans,a[x]);
            x&gt;&gt;=1;
        }
        return ans;
    }
}seg;

int main()
{
    scanf(&quot;%lld%s&quot;, &amp;n, s + 1);
    for(int i = 1; i &lt;= n; i++)
        scanf(&quot;%lld&quot;,&amp;a[i]);
    reverse(s+1, s+1+n);
    reverse(a+1, a+1+n);
    sam.init();
    seg.getm();
    for(int i = 1; i &lt;= n; i++)
        sam.extend(s[i]-&#39;a&#39;, a[i]);
    sam.getpnum();
    for(int i = 1; i &lt; sam.a.size(); i++)
    {
        long long hh = (long long)sam.a[i]-&gt;pnum * (sam.a[i]-&gt;pnum - 1);
        bit.add(sam.a[i]-&gt;min(), hh);
        bit.add(sam.a[i]-&gt;max+1,-hh);
        seg.chg(sam.a[i]-&gt;min(), sam.a[i]-&gt;max, sam.a[i]-&gt;get());
    }
    if(n&gt;1)
    printf(&quot;%lld %lld\n&quot;, n * (n-1) / 2, sam.start-&gt;get());
    else
    puts(&quot;0 0&quot;);
    for(int i = 1; i &lt; n; i++)
    {
        long long a=bit.get(i)/2,b=seg.get(i);
        if(a==0)
        puts(&quot;0 0&quot;);
        else
        printf(&quot;%lld %lld\n&quot;,a,b);
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
