<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>Codeforces 868E. Policeman and a Tree - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：在一棵树上，有一个警察和$m$个罪犯。边有长度。警察的速度为1，罪犯的速度可以任意快。如果双方都按最优策略行动，且每一时刻每个人都知道所有人的位置。当罪犯和警察相遇时他就被抓住了。求警察最快多久可以抓住所有罪犯。">
<meta name="keywords" content="DP,树形dp">
<meta property="og:type" content="article">
<meta property="og:title" content="Codeforces 868E. Policeman and a Tree">
<meta property="og:url" content="https://tkj666.github.io/98/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：在一棵树上，有一个警察和$m$个罪犯。边有长度。警察的速度为1，罪犯的速度可以任意快。如果双方都按最优策略行动，且每一时刻每个人都知道所有人的位置。当罪犯和警察相遇时他就被抓住了。求警察最快多久可以抓住所有罪犯。">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.385Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Codeforces 868E. Policeman and a Tree">
<meta name="twitter:description" content="题意：在一棵树上，有一个警察和$m$个罪犯。边有长度。警察的速度为1，罪犯的速度可以任意快。如果双方都按最优策略行动，且每一时刻每个人都知道所有人的位置。当罪犯和警察相遇时他就被抓住了。求警察最快多久可以抓住所有罪犯。">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666673">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="Codeforces 868E. Policeman and a Tree" class="lazyload">
          <h1>Codeforces 868E. Policeman and a Tree</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>在一棵树上，有一个警察和$m$个罪犯。边有长度。警察的速度为1，罪犯的速度可以任意快。如果双方都按最优策略行动，且每一时刻每个人都知道所有人的位置。当罪犯和警察相遇时他就被抓住了。求警察最快多久可以抓住所有罪犯。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>一开始在想双方的最优策略是什么，但除了小偷每次跑到叶子<del>坐以待毙</del>以外并没有想到什么。<del>遂膜之。</del><br>设$f_{i, j, k}$表示警察开始走第$i$条边，当前总共有$j$个罪犯没被抓，警察前面有$k$个罪犯。</p>
<ol>
<li>如果$i$连向的是一个叶子，那么叶子上所有$k$个罪犯都会被抓，$f_{i, j, k} = f_{i \oplus 1, j - k, j - k} + w_i$；</li>
<li>如果$i$连向的不是叶子，那么$f_{i, j, k} = \min\{f_{l, j, a_l}\} + w_i$，其中$l$为$i$的后继边，$a_l$为$l$里面有多少罪犯。因为罪犯按最优策略行动，所以他们要让$\min\{f_{l, j, a_l}\}$最大。所以就要通过把$k$恰当地分配给所有$l$，这个做个背包就好了。复杂度看上去是$O(n^6)$的，但很玄学地跑得很快。可能真正的复杂度是很小的吧。<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2></li>
</ol>
<pre><code class="lang-cpp">#include &lt;cstdio&gt;
#include &lt;cstring&gt;
#include &lt;algorithm&gt;
using namespace std;

const int A = 50 * 50 * 50;
int n, num = 1, fst[60], deg[60], s, m, cnt[60], f[110][60][60]; // 在第i条边，总共有j个罪犯，前面有k个罪犯
int sum[60];
struct edge
{
    int x, y, c, n;
} e[110];

void ins(int x, int y, int c)
{
    e[++num] = {x, y, c, fst[x]};
    fst[x] = num;
}
void dfs(int x, int fa)
{
    sum[x] = cnt[x];
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (y == fa) continue;
        dfs(y, x);
        sum[x] += sum[y];
    }
}
int F(int i, int j, int k)
{
    if (f[i][j][k] &lt; 0x3f3f3f3f || k == 0) return f[i][j][k];
    int y = e[i].y;
    if (deg[y] == 1)
    {
        f[i][j][k] = F(i ^ 1, j - k, j - k) + e[i].c;
    }
    else
    {
        int g[60];
        memset(g, 0, sizeof(g));
        g[0] = 0x3f3f3f3f;
        for (int l = fst[y]; l; l = e[l].n)
        {
            if (l == (i ^ 1)) continue;
            for (int o = k; o &gt; 0; o--)
                for (int p = 1; p &lt;= o; p++)
                    g[o] = max(g[o], min(g[o - p], F(l, j, p)));
        }
        f[i][j][k] = g[k] + e[i].c;
    }
    // printf(&quot;%d %d %d %d %d\n&quot;, e[i].x, e[i].y, j, k, f[i][j][k]);
    return f[i][j][k];
}
int main()
{
    scanf(&quot;%d&quot;, &amp;n);
    for (int i = 1; i &lt; n; i++)
    {
        int x, y, c;
        scanf(&quot;%d%d%d&quot;, &amp;x, &amp;y, &amp;c);
        ins(x, y, c);
        ins(y, x, c);
        deg[x]++;
        deg[y]++;
    }
    scanf(&quot;%d%d&quot;, &amp;s, &amp;m);
    for (int i = 1; i &lt;= m; i++)
    {
        int x;
        scanf(&quot;%d&quot;, &amp;x);
        cnt[x]++;
    }
    dfs(s, 0);
    memset(f, 63, sizeof(f));
    for (int i = 2; i &lt;= num; i++)
        f[i][0][0] = 0;
    int ans = 0x3f3f3f3f;
    for (int i = fst[s]; i; i = e[i].n)
        ans = min(ans, F(i, m, sum[e[i].y]));
    printf(&quot;%d\n&quot;, ans);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
