<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>loj #2312. 「HAOI2017」八纵八横 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：给你一个无向连通图，可以加入边，删除或修改新加的边，每个操作后求从$1$出发回到$1$的路径的边权异或最大值。">
<meta name="keywords" content="线性基">
<meta property="og:type" content="article">
<meta property="og:title" content="loj #2312. 「HAOI2017」八纵八横">
<meta property="og:url" content="https://tkj666.github.io/118/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：给你一个无向连通图，可以加入边，删除或修改新加的边，每个操作后求从$1$出发回到$1$的路径的边权异或最大值。">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.393Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="loj #2312. 「HAOI2017」八纵八横">
<meta name="twitter:description" content="题意：给你一个无向连通图，可以加入边，删除或修改新加的边，每个操作后求从$1$出发回到$1$的路径的边权异或最大值。">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666639">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="loj #2312. 「HAOI2017」八纵八横" class="lazyload">
          <h1>loj #2312. 「HAOI2017」八纵八横</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>给你一个<strong>无向连通图</strong>，可以加入边，删除或修改<strong>新加的</strong>边，每个操作后求从$1$出发回到$1$的路径的边权异或最大值。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p><del>没看到开始是连通的想了半天不会做</del><br>这题实际上就是求所有环的异或和的最大值，如果没有修改操作，这个用线性基搞就可以了。修改的话就像<a href="http://uoj.ac/problem/91" target="_blank" rel="noopener"></a>这题一样就好了，记下每条边带来的环的异或和是多少就好了。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

const int sz = 1000;
typedef bitset&lt;sz&gt; type;
int n, m, Q, num = 1, fst[510], cnt = 0, now[1010], tim = 0, nowx[1010], nowy[1010];
bool nowext[1010];
type nowc[1010];
struct edge
{
    int x, y, n;
    type c;
} e[1010];
struct basis
{
    type b[sz];
    int R[sz];
    void ins(type x, int l, int r)
    {
        for (int i = sz - 1; i &gt;= 0; i--)
        {
            if (!x[i]) continue;
            if (b[i][i])
            {
                if (R[i] &lt;= l) { b[i] = x; R[i] = r; return; }
                if (R[i] &lt; r)
                {
                    swap(x, b[i]);
                    swap(R[i], r);
                }
                x ^= b[i];
            }
            else
            {
                R[i] = r;
                b[i] = x;
                return;
            }
        }
    }
    type get(int t)
    {
        type ans;
        for (int i = sz - 1; i &gt;= 0; i--)
            if (!ans[i] &amp;&amp; t &lt; R[i])
                ans ^= b[i];
        return ans;
    }
} b;
struct th
{
    type c;
    int l, r;
};
vector&lt;th&gt; a;
type dis[510], c;
bool v[510];
char s[10];

void ins(int x, int y, bitset&lt;sz&gt; c)
{
    e[++num] = {x, y, fst[x], c};
    fst[x] = num;
}
void dfs(int x, int fr)
{
    v[x] = 1;
    dis[x] = dis[e[fr].x] ^ e[fr].c;
    for (int i = fst[x]; i; i = e[i].n)
    {
        if ((i ^ 1) == fr) continue;
        int y = e[i].y;
        if (v[y])
        {
            b.ins(dis[x] ^ dis[y] ^ e[i].c, 0, Q + 1);
        }
        else
        {
            dfs(y, i);
        }
    }
}
int cmp(th x, th y) { return x.l &lt; y.l; }
void print(const type &amp;x)
{
    bool tf = 0;
    for (int i = sz - 1; i &gt;= 0; i--)
        if (x[i] || tf) cout &lt;&lt; x[i], tf = 1;
    if (!tf) cout &lt;&lt; 0;
    cout &lt;&lt; endl;
}
int main()
{
    // freopen(&quot;c8.in&quot;, &quot;r&quot;, stdin);
    // freopen(&quot;out&quot;, &quot;w&quot;, stdout);
    ios::sync_with_stdio(false);
    cin &gt;&gt; n &gt;&gt; m &gt;&gt; Q;
    for (int i = 0; i &lt; m; i++)
    {
        int x, y;
        cin &gt;&gt; x &gt;&gt; y &gt;&gt; c;
        ins(x, y, c);
        ins(y, x, c);
    }
    dfs(1, 0);/*
    for (int i = 1; i &lt;= n; i++)
        print(dis[i]);
    cout &lt;&lt; endl;*/
    print(b.get(0));
    while (Q--)
    {
        cin &gt;&gt; s;
        tim++;
        if (s[1] == &#39;d&#39;)
        {
            cnt++;
            now[cnt] = tim;
            cin &gt;&gt; nowx[cnt] &gt;&gt; nowy[cnt] &gt;&gt; c;
            nowc[cnt] = c ^ dis[nowx[cnt]] ^ dis[nowy[cnt]];
            nowext[cnt] = 1;
        }
        else if (s[1] == &#39;h&#39;)
        {
            int k;
            cin &gt;&gt; k &gt;&gt; c;
            a.push_back((th){nowc[k], now[k], tim});
            now[k] = tim;
            nowc[k] = c ^ dis[nowx[k]] ^ dis[nowy[k]];
        }
        else
        {
            int k;
            cin &gt;&gt; k;
            a.push_back((th){nowc[k], now[k], tim});
            nowext[k] = 0;
        }
    }
    for (int i = 1; i &lt;= cnt; i++)
        if (nowext[i])
            a.push_back((th){nowc[i], now[i], tim + 1});
    sort(a.begin(), a.end(), cmp);
    for (int i = 0; i &lt; a.size(); i++)
    {
        // cerr &lt;&lt; a[i].l &lt;&lt; &#39; &#39; &lt;&lt; a[i].r &lt;&lt; &#39; &#39; &lt;&lt; a[i].c &lt;&lt; endl;
        b.ins(a[i].c, a[i].l, a[i].r);
        if (i &lt; a.size() - 1 &amp;&amp; a[i + 1].l != a[i].l)
        {
            for (int j = a[i].l; j &lt; a[i + 1].l; j++)
                print(b.get(j));
        }
    }
    if (!a.empty())
        for (int i = a.back().l; i &lt;= tim; i++)
            print(b.get(i));
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
