<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 2119: 股市的预测 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：给你一个长度为$n$的序列，问有多少字串满足除了中间长度为$b - 1$的子串，前后走势完全一样。">
<meta name="keywords" content="后缀数组,主席树,分治">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 2119: 股市的预测">
<meta property="og:url" content="https://tkj666.github.io/131/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：给你一个长度为$n$的序列，问有多少字串满足除了中间长度为$b - 1$的子串，前后走势完全一样。">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.276Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 2119: 股市的预测">
<meta name="twitter:description" content="题意：给你一个长度为$n$的序列，问有多少字串满足除了中间长度为$b - 1$的子串，前后走势完全一样。">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666615">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 2119: 股市的预测" class="lazyload">
          <h1>bzoj 2119: 股市的预测</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>给你一个长度为$n$的序列，问有多少字串满足除了中间长度为$b - 1$的子串，前后走势完全一样。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>感觉我的做法好复杂。。。<br>首先把原序列差分，然后就变成了有多少个字串满足除了中间长度为$b$的子串，前后完全一样。考虑以前后两个一样的串开始的两个后缀$i$和$j$，它们可以贡献答案，就要满足$|i - j| - lcp \le b$，但两个后缀也不能靠太近，否则怎么都不能腾出$b$的空位来，所以也要满足$|i - j| &gt; b$。这样我们就可以对后缀数组分治，每次找到当前区间最小的$height$的位置，确定它两边后缀的lcp，然后用主席树求出由两边的后缀贡献的答案，递归下去搞就好了。注意最小的$height$不一定在中点，所以我们要找两边中较短的一段处理，这样复杂度才有保证。应该是$O(nlog^2n)$的。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

int n, b, a[50010], sa[50010], h[50010], rk[50010], height[50010], lg[50010], ans = 0, mn[16][50010];
map&lt;int, int&gt; lsh;
struct tree
{
    int c;
    tree *lc, *rc;
    tree() : lc(NULL), rc(NULL), c(0) {}
} *root[50010];

void radix(int *a, int *b, int *s, int n, int K)
{
    int *hh = new int[K + 1];
    for (int i = 0; i &lt;= K; i++)
        hh[i] = 0;
    for (int i = 0; i &lt; n; i++)
        hh[s[a[i]]]++;
    for (int i = 1; i &lt;= K; i++)
        hh[i] += hh[i - 1];
    for (int i = n - 1; i &gt;= 0; i--)
        b[--hh[s[a[i]]]] = a[i];
    delete[] hh;
}
void get_sa(const int *ss, int *sa, int n, int K)
{
    int *s = new int[n &lt;&lt; 1], *hh = new int[n];
    memset(s, 0, sizeof(int) * (n &lt;&lt; 1));
    memcpy(s, ss, sizeof(int) * n);
    for (int i = 0; i &lt; n; i++)
        hh[i] = i;
    radix(hh, sa, s, n, K);
    for (int len = 1; len &lt; n; len &lt;&lt;= 1)
    {
        int name = 0, c1 = -1, c2 = -1;
        for (int i = 0; i &lt; n; i++)
        {
            if (s[sa[i]] != c1 || s[sa[i] + (len &gt;&gt; 1)] != c2)
            {
                name++;
                c1 = s[sa[i]], c2 = s[sa[i] + (len &gt;&gt; 1)];
            }
            hh[sa[i]] = name;
        }
        swap(s, hh);
        for (int i = n - len; i &lt; n; i++)
            hh[i - n + len] = i;
        for (int i = 0, num = len; i &lt; n; i++)
            if (sa[i] &gt;= len)
                hh[num++] = sa[i] - len;
        radix(hh, sa, s, n, name);
    }
}
int get_mnpos(int l, int r)
{
    return
        height[mn[lg[r - l]][l]] &lt; height[mn[lg[r - l]][r - (1 &lt;&lt; lg[r - l])]] ? 
            mn[lg[r - l]][l]
        :
            mn[lg[r - l]][r - (1 &lt;&lt; lg[r - l])];
}
tree *ins(tree *ori, int l, int r, int p)
{
    tree *i = new tree;
    if (ori) *i = *ori;
    i-&gt;c++;
    if (l == r) return i;
    int md = l + r &gt;&gt; 1;
    if (p &lt;= md) i-&gt;lc = ins(ori ? ori-&gt;lc : NULL, l, md, p);
    else i-&gt;rc = ins(ori ? ori-&gt;rc : NULL, md + 1, r, p);
    return i;
}
int get(tree *ori, tree *i, int l, int r, int ll, int rr)
{
    if (ll &lt; 0) ll = 0;
    if (rr &gt;= n) rr = n - 1;
    if (!i) return 0;
    if (l == ll &amp;&amp; r == rr) return i-&gt;c - (ori ? ori-&gt;c : 0);
    int md = l + r &gt;&gt; 1;
    if (rr &lt;= md) return get(ori ? ori-&gt;lc : NULL, i-&gt;lc, l, md, ll, rr);
    else if (ll &gt; md) return get(ori ? ori-&gt;rc : NULL, i-&gt;rc, md + 1, r, ll, rr);
    else return get(ori ? ori-&gt;lc : NULL, i-&gt;lc, l, md, ll, md) + get(ori ? ori-&gt;rc : NULL, i-&gt;rc, md + 1, r, md + 1, rr);
}
void wk(int l, int r)
{
    if (l &gt;= r) return;
    int pos = get_mnpos(l, r);
    if (height[pos])
    {
        if (pos - l + 1 &lt; r - pos)
        {
            for (int i = l; i &lt;= pos; i++)
            {
                ans += get(root[pos], root[r], 0, n - 1, sa[i] - height[pos] - b, sa[i] - b - 1);
                ans += get(root[pos], root[r], 0, n - 1, sa[i] + b + 1, sa[i] + height[pos] + b);
            }
        }
        else
        {
            for (int i = pos + 1; i &lt;= r; i++)
            {
                ans += get(l == 0 ? NULL : root[l - 1], root[pos], 0, n - 1, sa[i] - height[pos] - b, sa[i] - b - 1);
                ans += get(l == 0 ? NULL : root[l - 1], root[pos], 0, n - 1, sa[i] + b + 1, sa[i] + height[pos] + b);
            }
        }
    }
    wk(l, pos); wk(pos + 1, r);
}
int main()
{
    scanf(&quot;%d%d&quot;, &amp;n, &amp;b);
    if (n == 1)
    {
        puts(&quot;0&quot;);
        return 0;
    }
    for (int i = 0; i &lt; n; i++)
        scanf(&quot;%d&quot;, &amp;a[i]);
    for (int i = 0; i &lt; n - 1; i++)
        lsh[a[i] = a[i + 1] - a[i]] = 1;
    int nn = 0;
    for (map&lt;int, int&gt;::iterator it = lsh.begin(); it != lsh.end(); it++)
        it-&gt;second = ++nn;
    for (int i = 0; i &lt; n - 1; i++)
        a[i] = lsh[a[i]];
    a[--n] = 0;
    get_sa(a, sa, n, nn);
    for (int i = 0; i &lt; n; i++)
        rk[sa[i]] = i;
    sa[n] = n;
    for (int i = 0, k = 0; i &lt; n; i++)
    {
        if (k) k--;
        int j = sa[rk[i] + 1];
        while (a[i + k] == a[j + k]) k++;
        height[rk[i]] = k;
    }
    for (int i = 0; i &lt; n; i++)
        mn[0][i] = i;
    lg[1] = 0;
    for (int i = 2; i &lt;= n; i++)
        lg[i] = lg[i &gt;&gt; 1] + 1;
    for (int i = 1; i &lt;= 15; i++)
    {
        for (int j = 0; j &lt; n; j++)
        {
            mn[i][j] = mn[i - 1][j];
            if (j + (1 &lt;&lt; i - 1) &lt; n &amp;&amp; height[mn[i - 1][j + (1 &lt;&lt; i - 1)]] &lt; height[mn[i][j]]) mn[i][j] = mn[i - 1][j + (1 &lt;&lt; i - 1)];
        }
    }
    root[0] = ins(NULL, 0, n - 1, sa[0]);
    for (int i = 1; i &lt; n; i++)
        root[i] = ins(root[i - 1], 0, n - 1, sa[i]);
    wk(0, n - 1);
    printf(&quot;%d\n&quot;, ans);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
