<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4558: [JLoi2016]方 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：$(n + 1) \times (m + 1)$的网格图上，有$K$个点不能用，问剩下的点能组成多少正方形。斜着的也算">
<meta name="keywords" content="容斥">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4558: [JLoi2016]方">
<meta property="og:url" content="https://tkj666.github.io/137/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：$(n + 1) \times (m + 1)$的网格图上，有$K$个点不能用，问剩下的点能组成多少正方形。斜着的也算">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.347Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4558: [JLoi2016]方">
<meta name="twitter:description" content="题意：$(n + 1) \times (m + 1)$的网格图上，有$K$个点不能用，问剩下的点能组成多少正方形。斜着的也算">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666605">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4558: [JLoi2016]方" class="lazyload">
          <h1>bzoj 4558: [JLoi2016]方</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>$(n + 1) \times (m + 1)$的网格图上，有$K$个点不能用，问剩下的点能组成多少正方形。<strong>斜着的也算</strong><br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p><a href="https://loj.ac/problem/2025" target="_blank" rel="noopener">loj上有更棒的样例，还有解释</a><br>我们可以先不管不能用的点，然后减去不合法的正方形。正着的正方形比较好搞，对于斜着的，我们可以用一个大正方形框起来，然后可以发现如果确定了大正方形和它上面的一个点，那么我们就可以确定一个斜着的正方形，而且是一一对应的。正着的正方形也可以归到里面。所有正方形显然就是$\displaystyle \sum_{i = 1}^{\min(n, m)} (n - i + 1)(m - i + 1)i$。不合法的正方形的个数可以用容斥来搞，就是-一个点不合法的+两个点不合法的-三个点不合法的+四个点不合法的。一个点不合法的方案就是这个不合法的点在多少正方形上。我们可以分别计算它在上下左右每条边上的方案数，减去四个角上记重的就好了。两个点就$K^2$枚举吧，注意它们作为对角线时的情况。如果确定了两个点，那么第三个和第四个点都可以出来了，就可以顺便计算三个点不合法和四个点不合法的方案数了。复杂度$O(K^2logK)$，套了一个<code>set</code>来看第三和第四个点是不是不能用的。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

const int mod = 100000007, inv3 = (mod + 1) / 3, inv6 = (mod + 1) / 6;
long long n, m, K, ans = 0;
struct pnt
{
    long long x, y;
} a[2010];
set&lt;long long&gt; mp;

long long calc(long long n, long long m, long long pos)
{
    long long mn = min(pos, m - pos), mx = max(pos, m - pos);
    if (m &lt; n)
        return (mn + (1 + mn) * mn / 2 % mod + (mx - mn) * (mn + 1) % mod + (1 + m - mx) * (m - mx) / 2 % mod) % mod;
    else
    {
        if (n &lt; mn) return (2 + n + 1) * n / 2 % mod;
        else
        {
            long long ans = (2 + mn + 1) * mn / 2 % mod;
            if (n &lt; mx) return (ans + (mn + 1) * (n - mn) % mod) % mod;
            else return (ans + (mn + 1) * (mx - mn) % mod + (m - n + 1 + m - mx) * (n - mx) / 2 % mod) % mod;
        }
    }
}
int main()
{
    scanf(&quot;%lld%lld%lld&quot;, &amp;n, &amp;m, &amp;K);
    for (int i = 1; i &lt;= min(n, m); i++)
        ans = (ans + (n - i + 1) * (m - i + 1) % mod * i % mod) % mod;
    // printf(&quot;%lld\n&quot;, ans);
    for (int i = 0; i &lt; K; i++)
    {
        scanf(&quot;%lld%lld&quot;, &amp;a[i].x, &amp;a[i].y);
        (ans -= calc(a[i].x, m, a[i].y)) %= mod;
        // printf(&quot;%lld\n&quot;, ans);
        (ans -= calc(m - a[i].y, n, a[i].x)) %= mod;
        // printf(&quot;%lld\n&quot;, ans);
        (ans -= calc(n - a[i].x, m, m - a[i].y)) %= mod;
        // printf(&quot;%lld\n&quot;, ans);
        (ans -= calc(a[i].y, n, n - a[i].x)) %= mod;
        // printf(&quot;%lld\n&quot;, ans);
        (ans += min(a[i].x, a[i].y) + min(a[i].x, m - a[i].y) + min(n - a[i].x, a[i].y) + min(n - a[i].x, m - a[i].y)) %= mod;
        // printf(&quot;%lld\n&quot;, ans);
        mp.insert(a[i].x * 1000010 + a[i].y);
    }
    long long hh3 = 0, hh4 = 0;
    for (int i = 0; i &lt; K; i++)
        for (int j = i + 1; j &lt; K; j++)
        {
            long long xx = a[j].x - a[i].x, yy = a[j].y - a[i].y;
            long long x1 = a[i].x + yy, y1 = a[i].y - xx, x2 = a[j].x + yy, y2 = a[j].y - xx;
            if (x1 &gt;= 0 &amp;&amp; x1 &lt;= n &amp;&amp; x2 &gt;= 0 &amp;&amp; x2 &lt;= n &amp;&amp; y1 &gt;= 0 &amp;&amp; y1 &lt;= m &amp;&amp; y2 &gt;= 0 &amp;&amp; y2 &lt;= m)
            {
            // printf(&quot;%lld %lld\n%lld %lld\n%lld %lld\n%lld %lld\n\n&quot;, a[i].x, a[i].y, a[j].x, a[j].y, x1, y1, x2, y2);
                ans++;
                bool tf1 = mp.count(x1 * 1000010 + y1), tf2 = mp.count(x2 * 1000010 + y2);
                if (tf1) hh3++;
                if (tf2) hh3++;
                if (tf1 &amp;&amp; tf2) hh4++;
            }
            x1 = a[i].x - yy, y1 = a[i].y + xx, x2 = a[j].x - yy, y2 = a[j].y + xx;
            if (x1 &gt;= 0 &amp;&amp; x1 &lt;= n &amp;&amp; x2 &gt;= 0 &amp;&amp; x2 &lt;= n &amp;&amp; y1 &gt;= 0 &amp;&amp; y1 &lt;= m &amp;&amp; y2 &gt;= 0 &amp;&amp; y2 &lt;= m)
            {
            // printf(&quot;%lld %lld\n%lld %lld\n%lld %lld\n%lld %lld\n\n&quot;, a[i].x, a[i].y, a[j].x, a[j].y, x1, y1, x2, y2);
                ans++;
                bool tf1 = mp.count(x1 * 1000010 + y1), tf2 = mp.count(x2 * 1000010 + y2);
                if (tf1) hh3++;
                if (tf2) hh3++;
                if (tf1 &amp;&amp; tf2) hh4++;
            }
            if (abs(xx % 2) == abs(yy % 2))
            {
                x1 = a[i].x + (xx + yy) / 2, y1 = a[i].y + (yy - xx) / 2, x2 = x1 - yy, y2 = y1 + xx;
                if (x1 &gt;= 0 &amp;&amp; x1 &lt;= n &amp;&amp; x2 &gt;= 0 &amp;&amp; x2 &lt;= n &amp;&amp; y1 &gt;= 0 &amp;&amp; y1 &lt;= m &amp;&amp; y2 &gt;= 0 &amp;&amp; y2 &lt;= m)
                {
                // printf(&quot;%lld %lld\n%lld %lld\n%lld %lld\n%lld %lld\n\n&quot;, a[i].x, a[i].y, a[j].x, a[j].y, x1, y1, x2, y2);
                    ans++;
                    bool tf1 = mp.count(x1 * 1000010 + y1), tf2 = mp.count(x2 * 1000010 + y2);
                    if (tf1) hh3++;
                    if (tf2) hh3++;
                    if (tf1 &amp;&amp; tf2) hh4++;
                }
            }
        }
    printf(&quot;%lld\n&quot;, ((ans - hh3 * inv3 % mod + hh4 * inv6 % mod) % mod + mod) % mod);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
