<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 1804: [Ioi2007]Flood 洪水 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="bfs,对偶图">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 1804: [Ioi2007]Flood 洪水">
<meta property="og:url" content="https://tkj666.github.io/24/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.262Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 1804: [Ioi2007]Flood 洪水">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666715">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 1804: [Ioi2007]Flood 洪水" class="lazyload">
          <h1>bzoj 1804: [Ioi2007]Flood 洪水</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：好难概括。。自己看吧<br>题解：对偶图+bfs<br>一面墙要不倒，就是它两边碰到水的时间是相同的。所以我们可以把原图转为对偶图，一面墙要不倒，对应的边的两个端点到【表示外面的点】的距离要相同。这个bfs一下就好了。重点就是如何转成对偶图。我们从每个点开始走，能往左转就左转，左转不行再直走，再不行再右转，再不行就往回走。这样就可以框出每个块。走的时候记录一下这一块的编号，最后通过墙来建边。<br>还有一种方法不用转对偶图：每次找最左边的点，然后尽量绕着外围走，绕完删掉这些边。重复这个过程直到没有边。走了两次的边就是不会倒的。这个方法比上面的要慢，要套个log<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
#define S 0
#define E 1
#define N 2
#define W 3
using namespace std;
int n,w,nn=0,num=0,fst[100010],dis[100010];
struct pnt
{
    int x,y,wall[4],idl[4],idr[4];
}p[100010];
struct edge
{
    int x,y,n;
}e[800010];
bool out[100010];
void add(int x,int y)
{
    if(p[x].x==p[y].x)
    {
        if(p[x].y&lt;p[y].y)
        {
            p[x].wall[E]=y;
            p[y].wall[W]=x;
        }
        else
        {
            p[x].wall[W]=y;
            p[y].wall[E]=x;
        }
    }
    else
    {
        if(p[x].x&lt;p[y].x)
        {
            p[x].wall[S]=y;
            p[y].wall[N]=x;
        }
        else
        {
            p[x].wall[N]=y;
            p[y].wall[S]=x;
        }
    }
}
inline int left(int x)
{
    return (x+1)%4;
}
inline int right(int x)
{
    return (x-1+4)%4;
}
inline int back(int x)
{
    return (x+2)%4;
}
void wk(int x)
{
    for(int i=0;i&lt;4;i++)
    {
        if(p[x].wall[i]&amp;&amp;!p[x].idl[i])
        {
            nn++;
            int cs=0;
            bool tf=1;
            for(int y=x,j=i,z;y!=x||tf;y=z)
            {
                tf=0;
                z=p[y].wall[j];
                p[y].idl[j]=p[z].idr[back(j)]=nn;
                j=left(j);
                cs--;
                while(!p[z].wall[j])
                {
                    j=right(j);
                    cs++;
                }
            }
            if(cs&gt;0)
            out[nn]=1;
        }
    }
}
void ins(int x,int y)
{
    e[++num]={x,y,fst[x]};
    fst[x]=num;
}
int main()
{
    scanf(&quot;%d&quot;,&amp;n);
    for(int i=1;i&lt;=n;i++)
    scanf(&quot;%d%d&quot;,&amp;p[i].x,&amp;p[i].y);
    scanf(&quot;%d&quot;,&amp;w);
    for(int i=0;i&lt;w;i++)
    {
        int x,y;
        scanf(&quot;%d%d&quot;,&amp;x,&amp;y);
        add(x,y);
    }
    for(int i=1;i&lt;=n;i++)
    wk(i);
    for(int i=1;i&lt;=n;i++)
    for(int j=0;j&lt;4;j++)
    if(p[i].wall[j])
    {
        ins(p[i].idl[j],p[i].idr[j]);
        ins(p[i].idr[j],p[i].idl[j]);
    }
    queue&lt;int&gt;q;
    for(int i=1;i&lt;=nn;i++)
    if(out[i])
    {
        q.push(i);
        dis[i]=1;
    }
    while(!q.empty())
    {
        int x=q.front();
        for(int i=fst[x];i;i=e[i].n)
        {
            int y=e[i].y;
            if(!dis[y])
            {
                dis[y]=dis[x]+1;
                q.push(y);
            }
        }
        q.pop();
    }
    int ans=0;
    for(int i=1;i&lt;=num;i+=2)
    if(dis[e[i].x]==dis[e[i].y])
    ans++;
    printf(&quot;%d&quot;,ans&gt;&gt;1);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
