<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 3246: [Ioi2013]Dreaming - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="树的直径">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 3246: [Ioi2013]Dreaming">
<meta property="og:url" content="https://tkj666.github.io/56/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.310Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 3246: [Ioi2013]Dreaming">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666711">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 3246: [Ioi2013]Dreaming" class="lazyload">
          <h1>bzoj 3246: [Ioi2013]Dreaming</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：给出一个森林，要把它们连成一棵树，新连的边的边权为L，问最远的两个点间的距离最短是多少。<br>题解：答案首先至少是每棵树的直径的最大值。考虑连起来的状况，最优肯定是每棵树直径的中点连起来（即从这个点到其他点的最远距离最短）。答案就是max(m1+l+m2,m2+l*2+m3)，其中m1,m2,m3分别是最长、次长、次次长的深度。<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
#define pa pair&lt;long long,long long&gt;
using namespace std;
int n,m,num=0,fst[500010],pre[500010],ttf[500010],now=0;
long long dis[500010],l,ans=0,m1=0,m2=0,m3=0;
bool tf[500010];
struct edge
{
    int x,y,n;
    long long c;
}e[1000010];
void ins(int x,int y,long long c)
{
    e[++num]={x,y,fst[x],c};
    fst[x]=num;
}
int bfs(int x)
{
    // memset(dis,63,sizeof(dis));
    static queue&lt;int&gt;q;
    now++;
    q.push(x);
    dis[x]=0;
    pre[x]=0;
    int ans=-1;
    while(!q.empty())
    {
        int x=q.front();
        tf[x]=1;
        ttf[x]=now;
        if(ans==-1||dis[ans]&lt;dis[x])
        ans=x;
        // printf(&quot;%d %d %d %d\n&quot;,x,dis[x],ans,dis[ans]);
        for(int i=fst[x];i;i=e[i].n)
        {
            int y=e[i].y;
            if(ttf[y]!=now)
            {
                dis[y]=dis[x]+e[i].c;
                pre[y]=i;
                q.push(y);
            }
        }
        q.pop();
    }
    // puts(&quot;&quot;);
    return ans;
}
pa wk(int x)
{
    int hh=bfs(bfs(x));/*
    for(int i=0;i&lt;n;i++)
    printf(&quot;%d &quot;,dis[i]);
    puts(&quot;&quot;);*/
    long long oo=0;
    for(int i=pre[hh];i;i=pre[e[i].x])
    {
        oo+=e[i].c;
        if(oo&gt;(dis[hh]&gt;&gt;1))
        {
            return make_pair(dis[hh],min(oo,dis[hh]-oo+e[i].c));
        }
    }
    return make_pair(0LL,0LL);
}
int main()
{
    scanf(&quot;%d%d%lld&quot;,&amp;n,&amp;m,&amp;l);
    for(int i=0;i&lt;m;i++)
    {
        int x,y;
        long long c;
        scanf(&quot;%d%d%lld&quot;,&amp;x,&amp;y,&amp;c);
        ins(x,y,c);
        ins(y,x,c);
    }
    int r=0;
    for(int i=0;i&lt;n;i++)
    {
        if(!tf[i])
        {
            r++;
            pa hh=wk(i);
            // printf(&quot;%d %d %d\n\n&quot;,i,hh.first,hh.second);
            if(hh.second&gt;=m1)
            {
                m3=m2;
                m2=m1;
                m1=hh.second;
            }
            else if(hh.second&gt;=m2)
            {
                m3=m2;
                m2=hh.second;
            }
            else if(hh.second&gt;=m3)
            {
                m3=hh.second;
            }
            ans=max(ans,hh.first);
        }
    }
    // printf(&quot;%d %lld %lld %lld\n&quot;,r,m1,m2,m3);
    if(r&gt;=2)
    ans=max(ans,m1+m2+l);
    if(r&gt;=3)
    ans=max(ans,m2+m3+l*2);
    printf(&quot;%lld&quot;,ans);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
