<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4561: [JLoi2016]圆的异或并 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：平面上有$n$个圆，之间的关系只有相离或包含。求被奇数个圆覆盖的面积。">
<meta name="keywords" content="set,扫描线">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4561: [JLoi2016]圆的异或并">
<meta property="og:url" content="https://tkj666.github.io/115/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：平面上有$n$个圆，之间的关系只有相离或包含。求被奇数个圆覆盖的面积。">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.348Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4561: [JLoi2016]圆的异或并">
<meta name="twitter:description" content="题意：平面上有$n$个圆，之间的关系只有相离或包含。求被奇数个圆覆盖的面积。">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666643">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4561: [JLoi2016]圆的异或并" class="lazyload">
          <h1>bzoj 4561: [JLoi2016]圆的异或并</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>平面上有$n$个圆，之间的关系只有相离或包含。求被奇数个圆覆盖的面积。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>学习了如何用扫描线和<code>set</code>求圆的包含关系。<br>扫描线从左往右扫。<code>set</code>中维护扫描线穿过的半圆（把圆拆成上半圆和下半圆），关键字为交点的纵坐标（虽然随着扫描线的移动这个值是会变的，但相对顺序不会变）。遇到一个新圆（左端点）时，在<code>set</code>中找到最大的比新圆的圆心（左端点）的纵坐标小的半圆，如果是个上半圆，则表示这包含这两个圆的是同一个圆；如果是下半圆，则表示这个圆包含了新圆。离开一个圆（右端点）时，从<code>set</code>里删除它的两个半圆即可。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

const double eps = 1e-9;
int n, nowx, num = 0, dep[200010];
long long ans = 0;
struct th
{
    int x, y, r, id, type;
} a[400010];
struct thh
{
    int x, y, r, type, id;
    thh(int x, int y, int r, int type, int id) : x(x), y(y), r(r), type(type), id(id) {}
    double get() const
    {
        return y + type * sqrt(1LL * r * r - 1LL * (x - nowx) * (x - nowx));
    }
};
bool operator&lt;(thh x, thh y)
{
    if (abs(x.get() - y.get()) &lt; eps)
    {
        return x.type == y.type ? (x.type == 1 ? x.r &lt; y.r : x.r &gt; y.r) : x.type &lt; y.type;
    }
    else return x.get() &lt; y.get();
}
set&lt;thh&gt; s;
set&lt;thh&gt;::iterator it1[200010], it2[200010];

int cmp(th x, th y)
{
    return x.x == y.x ?
    (
        x.type == y.type ?
            x.r &gt; y.r
        :
            x.type &lt; y.type
    )
    :
        x.x &lt; y.x;
}
int main()
{
    // freopen(&quot;4561.in&quot;, &quot;r&quot;, stdin);
    // freopen(&quot;4561.out&quot;, &quot;w&quot;, stdout);
    scanf(&quot;%d&quot;, &amp;n);
    for (int i = 1; i &lt;= n; i++)
    {
        int x, y, r;
        scanf(&quot;%d%d%d&quot;, &amp;x, &amp;y, &amp;r);
        a[++num] = {x - r, y, r, i, 1};
        a[++num] = {x + r, y, r, i, -1};
    }
    sort(a + 1, a + 1 + num, cmp);
    for (int i = 1; i &lt;= num; i++)
    {
        // printf(&quot;%d %d %d %d %d\n&quot;, a[i].x, a[i].y, a[i].r, a[i].type, a[i].id);
        nowx = a[i].x;
        if (a[i].type == 1)
        {
            set&lt;thh&gt;::iterator it = s.lower_bound(thh(a[i].x + a[i].r, a[i].y, a[i].r, 1, 0));
            if (it == s.begin()) dep[a[i].id] = 0;
            else
            {
                it--;
                // printf(&quot;%d %d\n&quot;, it-&gt;id, it-&gt;type);
                if (it-&gt;type == 1) dep[a[i].id] = dep[it-&gt;id];
                else dep[a[i].id] = dep[it-&gt;id] + 1;
            }
            it1[a[i].id] = s.insert(thh(a[i].x + a[i].r, a[i].y, a[i].r, 1, a[i].id)).first;
            it2[a[i].id] = s.insert(thh(a[i].x + a[i].r, a[i].y, a[i].r, -1, a[i].id)).first;
            if (dep[a[i].id] &amp; 1) ans -= 1LL * a[i].r * a[i].r;
            else ans += 1LL * a[i].r * a[i].r;
        }
        else
        {
            s.erase(it1[a[i].id]);
            s.erase(it2[a[i].id]);
        }
    }/*
    for (int i = 1; i &lt;= n; i++)
        printf(&quot;%d &quot;, dep[i]);
    puts(&quot;&quot;);*/
    printf(&quot;%lld\n&quot;, ans);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
