<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>Codeforces 436D. Pudding Monsters - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：有一条无限长的带子，上面画有格子，其中一些是特殊格。有一些格子上有布丁怪兽。如果若干个怪兽的位置相邻，那么它们就会连起来。你需要进行若干次操作。每一次操作中，你需要选定一个怪兽，然后把它和连着它的怪兽一起向左或向右移动，知道移动到无穷远或碰到其他的怪兽并连起来。最多可以覆盖多少特殊格呢？">
<meta name="keywords" content="DP">
<meta property="og:type" content="article">
<meta property="og:title" content="Codeforces 436D. Pudding Monsters">
<meta property="og:url" content="https://tkj666.github.io/100/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：有一条无限长的带子，上面画有格子，其中一些是特殊格。有一些格子上有布丁怪兽。如果若干个怪兽的位置相邻，那么它们就会连起来。你需要进行若干次操作。每一次操作中，你需要选定一个怪兽，然后把它和连着它的怪兽一起向左或向右移动，知道移动到无穷远或碰到其他的怪兽并连起来。最多可以覆盖多少特殊格呢？">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.383Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Codeforces 436D. Pudding Monsters">
<meta name="twitter:description" content="题意：有一条无限长的带子，上面画有格子，其中一些是特殊格。有一些格子上有布丁怪兽。如果若干个怪兽的位置相邻，那么它们就会连起来。你需要进行若干次操作。每一次操作中，你需要选定一个怪兽，然后把它和连着它的怪兽一起向左或向右移动，知道移动到无穷远或碰到其他的怪兽并连起来。最多可以覆盖多少特殊格呢？">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666671">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="Codeforces 436D. Pudding Monsters" class="lazyload">
          <h1>Codeforces 436D. Pudding Monsters</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>有一条无限长的带子，上面画有格子，其中一些是特殊格。有一些格子上有布丁怪兽。如果若干个怪兽的位置相邻，那么它们就会连起来。你需要进行若干次操作。每一次操作中，你需要选定一个怪兽，然后把它和连着它的怪兽一起向左或向右移动，知道移动到无穷远或碰到其他的怪兽并连起来。最多可以覆盖多少特殊格呢？<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>首先，最优方案一定不会让某些怪移到无穷远，也不会先连起来再一起移动（这样可以分别移到最后的位置）。设$f_i$表示前$i$只怪兽，第$i$只不动的答案；$g_i$表示前$i$只怪兽的答案；$s(i, j)$表示$i$到$j$之间有多少特殊格；$a_i$表示第$i$个怪兽的位置。转移的话，$f_i$就是枚举左边有多少个怪兽靠过来，然后通过$g$转移。但这样是$O(n ^ 2)$的。注意到如果靠过来的这一大段的左边是非特殊格，那么它靠过来就是没有意义的。所以只需要枚举特殊格就好了。这样可以变成$O(nm)$的。$g_i$的转移类似。方程：$f_i = \max\{g_j + s(a_i - (i - j - 1), a_i)\}, g_j = \max\{f_i + s(a_i, a_i + (j - i))\} \cup \{g_{i - 1}\}$<br>还有一点就是一开始就连起来的情况。随便搞搞就好。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;cstdio&gt;
#include &lt;cstring&gt;
#include &lt;algorithm&gt;
using namespace std;

int n, m, a[100010], p[2010], f[100010], g[100010], l[100010], r[100010], cnt[200010];

int main()
{
    scanf(&quot;%d%d&quot;, &amp;n, &amp;m);
    for (int i = 1; i &lt;= n; i++) scanf(&quot;%d&quot;, &amp;a[i]);
    for (int i = 1; i &lt;= m; i++) scanf(&quot;%d&quot;, &amp;p[i]);
    sort(a + 1, a + 1 + n);
    sort(p + 1, p + 1 + m);
    for (int i = 1; i &lt;= m; i++) cnt[p[i]] = 1;
    for (int i = 1; i &lt;= 200000; i++) cnt[i] += cnt[i - 1];
    l[1] = 1;
    for (int i = 2; i &lt;= n; i++)
        l[i] = a[i] == a[i - 1] + 1 ? l[i - 1] : i;
    r[n] = n;
    for (int i = n - 1; i &gt; 0; i--)
        r[i] = a[i] == a[i + 1] - 1 ? r[i + 1] : i;/*
    for (int i = 1; i &lt;= 10; i++)
        printf(&quot;%d &quot;, cnt[i]);
    puts(&quot;&quot;);*/
    for (int i = 1; i &lt;= n; i++)
    {
        if (cnt[a[i]] - cnt[a[i] - 1] == 1) f[i] = 1;
        f[i] += g[l[i] - 1];
        for (int j = 1; j &lt;= m &amp;&amp; p[j] &lt; a[i]; j++)
        {
            int hh = i - (a[i] - p[j]);
            // printf(&quot;%d %d\n&quot;, j, hh);
            if (hh &lt;= 0) continue;
            f[i] = max(f[i], g[l[hh] - 1] + cnt[a[i]] - cnt[p[j] - 1]);
        }
        g[i] = max({g[i], f[i], g[i - 1]});
        for (int j = m; j &gt; 0 &amp;&amp; p[j] &gt; a[i]; j--)
        {
            int hh = i + (p[j] - a[i]);
            if (hh &gt; n) continue;
            g[r[hh]] = max(g[r[hh]], f[i] + cnt[p[j]] - cnt[a[i]]);
        }
        /*
        printf(&quot;%d\n&quot;, f[i]);
        for (int j = 1; j &lt;= n; j++)
            printf(&quot;%d &quot;, g[j]);
        puts(&quot;&quot;);*/
    }
    printf(&quot;%d\n&quot;, g[n]);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
