<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>4864: [BeiJing 2017 Wc]神秘物质 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：给你一个序列，有插入、删除操作，询问区间极差最大最小值。">
<meta name="keywords" content="splay">
<meta property="og:type" content="article">
<meta property="og:title" content="4864: [BeiJing 2017 Wc]神秘物质">
<meta property="og:url" content="https://tkj666.github.io/120/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：给你一个序列，有插入、删除操作，询问区间极差最大最小值。">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.228Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="4864: [BeiJing 2017 Wc]神秘物质">
<meta name="twitter:description" content="题意：给你一个序列，有插入、删除操作，询问区间极差最大最小值。">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666634">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="4864: [BeiJing 2017 Wc]神秘物质" class="lazyload">
          <h1>4864: [BeiJing 2017 Wc]神秘物质</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>给你一个序列，有插入、删除操作，询问区间极差最大最小值。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>md智商下线。。还想着差分然后最大子段和。。。<br>极差最大就是区间最大值减最小值，极差最小一定在相邻两个数之间，用序列之王<code>splay</code>搞一下就好了。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

const int inf = 2147483647;
int n, m, e[100010];
struct pnt
{
    pnt *f, *s[2];
    int x, sz, ori, mxori, mnori, mnx;
    pnt(int ori, int x) : x(x), ori(ori), sz(1), s(), mxori(ori), mnori(ori), mnx(abs(x)) {}
} *root;

void pushup(pnt *x)
{
    x-&gt;mxori = max(x-&gt;s[0] ? x-&gt;s[0]-&gt;mxori : 0, max(x-&gt;ori, x-&gt;s[1] ? x-&gt;s[1]-&gt;mxori : 0));
    x-&gt;mnori = min(x-&gt;s[0] ? x-&gt;s[0]-&gt;mnori : inf, min(x-&gt;ori, x-&gt;s[1] ? x-&gt;s[1]-&gt;mnori : inf));
    x-&gt;mnx = min(x-&gt;s[0] ? x-&gt;s[0]-&gt;mnx : inf, min(abs(x-&gt;x), x-&gt;s[1] ? x-&gt;s[1]-&gt;mnx : inf));
    x-&gt;sz = (x-&gt;s[0] ? x-&gt;s[0]-&gt;sz : 0) + 1 + (x-&gt;s[1] ? x-&gt;s[1]-&gt;sz : 0);
}
void rot(pnt *x)
{
    pnt *f = x-&gt;f, *ff = f-&gt;f;
    int w = x == f-&gt;s[0];
    f-&gt;s[1 - w] = x-&gt;s[w];
    if (x-&gt;s[w]) x-&gt;s[w]-&gt;f = f;
    if (ff) ff-&gt;s[f == ff-&gt;s[1]] = x;
    x-&gt;f = ff;
    x-&gt;s[w] = f;
    f-&gt;f = x;
    pushup(f);
    pushup(x);
}
void splay(pnt *x, pnt *rt)
{
    while (x-&gt;f != rt)
    {
        pnt *f = x-&gt;f, *ff = f-&gt;f;
        if (ff == rt) rot(x);
        else if ((ff-&gt;s[0] == f) == (f-&gt;s[0] == x)) rot(f), rot(x);
        else rot(x), rot(x);
    }
    if (rt == NULL) root = x;
}
pnt *get_k(int k)
{
    pnt *now = root;
    while (1)
    {
        int lsz = now-&gt;s[0] ? now-&gt;s[0]-&gt;sz : 0;
        if (k &lt;= lsz) now = now-&gt;s[0];
        else if (k == lsz + 1) return now;
        else now = now-&gt;s[1], k -= lsz + 1;
    }
    assert(0);
}
int get_mn(int l, int r)
{
    l--, r++;
    splay(get_k(l), 0);
    splay(get_k(r), root);
    return root-&gt;s[1]-&gt;s[0]-&gt;mnx;
}
int get_mx(int l, int r)
{
    l--, r++;
    splay(get_k(l), 0);
    splay(get_k(r), root);
    return root-&gt;s[1]-&gt;s[0]-&gt;mxori - root-&gt;s[1]-&gt;s[0]-&gt;mnori;
}
void insert(int k, int ori)
{
    splay(get_k(k), 0);
    pnt *now = root;
    now = now-&gt;s[1];
    while (now-&gt;s[0]) now = now-&gt;s[0];
    splay(now, root);
    now-&gt;s[0] = new pnt(ori, ori - root-&gt;ori);
    now-&gt;s[0]-&gt;f = now;
    now-&gt;x = now-&gt;ori - now-&gt;s[0]-&gt;ori;
    now-&gt;mnx = abs(now-&gt;x);
    splay(now-&gt;s[0], 0);
}
void merge(int k, int ori)
{
    splay(get_k(k - 1), 0);
    splay(get_k(k + 2), root);
    if (root-&gt;s[1]-&gt;s[0]-&gt;s[0]) rot(root-&gt;s[1]-&gt;s[0]-&gt;s[0]);
    pnt *now = root-&gt;s[1]-&gt;s[0];
    now-&gt;ori = ori;
    now-&gt;x = now-&gt;ori - root-&gt;ori;
    now-&gt;mxori = now-&gt;mnori = now-&gt;ori;
    now-&gt;mnx = abs(now-&gt;x);
    delete now-&gt;s[1];
    now-&gt;s[1] = NULL;
    root-&gt;s[1]-&gt;x = root-&gt;s[1]-&gt;ori - now-&gt;ori;
    root-&gt;s[1]-&gt;mnx = abs(root-&gt;s[1]-&gt;x);
    splay(now, 0);
}
void print(pnt *x)
{
    if (!x) return;
    printf(&quot;i: %x f: %x s[0]: %x s[1]: %x x: %d sz: %d ori: %d mxori: %d mnori: %d mnx: %d\n&quot;, x, x-&gt;f, x-&gt;s[0], x-&gt;s[1], x-&gt;x, x-&gt;sz, x-&gt;ori, x-&gt;mxori, x-&gt;mnori, x-&gt;mnx);
    print(x-&gt;s[0]);
    print(x-&gt;s[1]);
}
int main()
{
    scanf(&quot;%d%d&quot;, &amp;n, &amp;m);
    root = new pnt(0, 0);
    root-&gt;f = NULL;
    root-&gt;s[0] = new pnt(0, 0);
    root-&gt;s[0]-&gt;f = root;
    pushup(root);
    for (int i = 1; i &lt;= n; i++)
    {
        scanf(&quot;%d&quot;, &amp;e[i]);
        insert(i, e[i]);
    }
    // print(root);
    for (int i = 0; i &lt; m; i++)
    {
        char op[9];
        scanf(&quot;%s&quot;, op);
        if (op[1] == &#39;e&#39;)
        {
            int x, e;
            scanf(&quot;%d%d&quot;, &amp;x, &amp;e);
            merge(x + 1, e);
        }
        else if (op[1] == &#39;n&#39;)
        {
            int x, e;
            scanf(&quot;%d%d&quot;, &amp;x, &amp;e);
            insert(x + 1, e);
        }
        else
        {
            int x, y;
            scanf(&quot;%d%d&quot;, &amp;x, &amp;y);
            if (op[1] == &#39;i&#39;) printf(&quot;%d\n&quot;, get_mn(x + 2, y + 1));
            else printf(&quot;%d\n&quot;, get_mx(x + 1, y + 1));
        }
        // print(root);
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
