<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 5155: [Tjoi2014]电源插排 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：">
<meta name="keywords" content="线段树">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 5155: [Tjoi2014]电源插排">
<meta property="og:url" content="https://tkj666.github.io/110/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.367Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 5155: [Tjoi2014]电源插排">
<meta name="twitter:description" content="题意：">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666653">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 5155: [Tjoi2014]电源插排" class="lazyload">
          <h1>bzoj 5155: [Tjoi2014]电源插排</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><a id="more"></a>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>好像写复杂了。。。<br>找最长的区间可以用可删堆来实现，维护它可以用一个set，询问用线段树。因为$n \le 10 ^ 9$，所以要动态开点。</p>
<pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

int n, Q;
map&lt;int, int&gt; a;
struct th
{
    int l, r;
    th(int l, int r) : l(l), r(r) {}
};
bool operator&lt;(th x, th y) { return x.r - x.l == y.r - y.l ? x.r &lt; y.r : x.r - x.l &lt; y.r - y.l; }
bool operator==(th x, th y) { return x.l == y.l &amp;&amp; x.r == y.r; }
struct pq
{
    priority_queue&lt;th&gt; a, b;
    int size() { return a.size() - b.size(); }
    void push(th x)
    {
        while (!b.empty() &amp;&amp; a.top() == b.top()) a.pop(), b.pop();
        a.push(x);
    }
    void pop()
    {
        while (!b.empty() &amp;&amp; a.top() == b.top()) a.pop(), b.pop();
        a.pop();
    }
    th top()
    {
        while (!b.empty() &amp;&amp; a.top() == b.top()) a.pop(), b.pop();
        return a.top();
    }
    void erase(th x)
    {
        b.push(x);
    }
} q;
set&lt;int&gt; s;
struct tree
{
    int l, r, c;
    tree *lc, *rc;
    tree(int l, int r) : l(l), r(r), c(0), lc(NULL), rc(NULL) {}
} *root;

void add(tree *i, int p, int x)
{
    if (i-&gt;l == i-&gt;r)
    {
        i-&gt;c += x;
        return;
    }
    int md = i-&gt;l + i-&gt;r &gt;&gt; 1;
    if (p &lt;= md)
    {
        if (!i-&gt;lc) i-&gt;lc = new tree(i-&gt;l, md);
        add(i-&gt;lc, p, x);
    }
    else
    {
        if (!i-&gt;rc) i-&gt;rc = new tree(md + 1, i-&gt;r);
        add(i-&gt;rc, p, x);
    }
    i-&gt;c = (i-&gt;lc ? i-&gt;lc-&gt;c : 0) + (i-&gt;rc ? i-&gt;rc-&gt;c : 0);
}
int get(tree *i, int l, int r)
{
    if (!i) return 0;
    if (i-&gt;l == l &amp;&amp; i-&gt;r == r) return i-&gt;c;
    int md = i-&gt;l + i-&gt;r &gt;&gt; 1;
    if (r &lt;= md) return get(i-&gt;lc, l, r);
    else if (l &gt; md) return get(i-&gt;rc, l, r);
    else return get(i-&gt;lc, l, md) + get(i-&gt;rc, md + 1, r);
}
int main()
{
    scanf(&quot;%d%d&quot;, &amp;n, &amp;Q);
    root = new tree(1, n);
    q.push(th(1, n));
    s.insert(0);
    s.insert(n + 1);
    while (Q--)
    {
        int k;
        scanf(&quot;%d&quot;, &amp;k);
        if (k)
        {
            if (a[k])
            {
                add(root, a[k], -1);
                set&lt;int&gt;::iterator it = s.find(a[k]), itl = it, itr = it;
                itl--;
                itr++;
                if (*itl + 1 &lt;= a[k] - 1) q.erase(th(*itl + 1, a[k] - 1));
                if (a[k] + 1 &lt;= *itr - 1) q.erase(th(a[k] + 1, *itr - 1));
                q.push(th(*itl + 1, *itr - 1));
                s.erase(a[k]);
                a[k] = 0;
            }
            else
            {
                th hh = q.top();
                a[k] = hh.l + hh.r + 1 &gt;&gt; 1;
                s.insert(a[k]);
                q.erase(hh);
                if (hh.l &lt; a[k]) q.push(th(hh.l, a[k] - 1));
                if (a[k] &lt; hh.r) q.push(th(a[k] + 1, hh.r));
                add(root, a[k], 1);
            }
        }
        else
        {
            int l, r;
            scanf(&quot;%d%d&quot;, &amp;l, &amp;r);
            printf(&quot;%d\n&quot;, get(root, l, r));
        }
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
