<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 5186: [Usaco2018 Jan]Cow at Large - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="DP,树形DP,点分治">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 5186: [Usaco2018 Jan]Cow at Large">
<meta property="og:url" content="https://tkj666.github.io/88/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.375Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 5186: [Usaco2018 Jan]Cow at Large">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666684">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 5186: [Usaco2018 Jan]Cow at Large" class="lazyload">
          <h1>bzoj 5186: [Usaco2018 Jan]Cow at Large</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：给出一棵树，牛从某个点出发，农夫从叶子出发来抓住牛。问对于牛的每个出发点，最少需要几个农夫。<br>题解：点分治<br>设点$x$到最近的叶子节点的距离为$L(x)$。首先，走回头路肯定是不优的，所以农夫只会往根走，牛只会往叶子走。又因为两者速度相等，所以只会相遇，不会追上。那么相遇的地方x只要满足农民比牛到得早就可以了，即$L(x)≤depth(x)$。这些点构成了一棵棵子树，而每棵子树只需要一个农夫。所以我们可以把这些点赋一个权值$2−degree(x)$，一棵子树的权值和就是$1$。直接搞显然过不去，我们可以点分治一下。设$d(x)$为分支中心到$x$的距离。两个不同子树里的点$x,y$的距离就是$d(x)+d(y)$。所以当$y$作为出发点时，对答案产生贡献的点$x$就要满足<script type="math/tex">L(x)≤d(x)+d(y) \\\ L(x)−d(x)≤d(y)</script>开一个s数组，<code>s[L(x) - d(x)] += 2 - degree(x)</code>，然后取个前缀和，<code>s[y]</code>就表示了会对$y$产生的贡献和。注意要减去$x,y$在同一颗子树里的情况。求$L$的话随便DP一下就好了。</p>
<p>点分打错T到飞起，L也求错了。。我真菜qwq<br>代码：</p>
<pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

int n, sz[70010], root, num = 0, fst[70010];
struct edge
{
    int x, y, n;
} e[140010];
struct pnt
{
    // int deg = 0, L = 2147483647, ans = 0;
    int deg, L, ans;
    bool v;
    pnt()
    {
        deg = ans = v = 0;
        L = 2147483647;
    }
} p[70010];
struct table
{
    int S[140010], mn, mx, zero;
    bool got;
    table()
    {
        zero = got = mn = mx = 0;
        memset(S, 0, sizeof(S));
    }
    void clear()
    {
        memset(S + mn + 70005, 0, sizeof(int) * (mx - mn + 1));
        mn = mx = got = 0;
    }
    int &amp;operator[](int x)
    { /*
        assert(x + 70005 &gt;= 0 &amp;&amp; x + 70005 &lt; 140010);
        if (x + 70005 &lt; 0 || x + 70005 &gt; 140010)
        {
            printf(&quot;%d\n&quot;, x);
            assert(0);
        }*/
        if (!got)
        {
            mn = min(mn, x);
            mx = max(mx, x);
        }
        if (x &lt; mn)
            return zero;
        else if (x &gt; mx)
            return S[70005 + mx];
        else
            return S[70005 + x];
    }
    void gsum()
    {
        got = 1;
        int l = mn + 1 + 70005, r = mx + 70005;
        for (int i = l; i &lt;= r; i++)
            S[i] += S[i - 1];
    }
} s1, s2;

void getL1(int x, int fa)
{
    if (p[x].deg == 1)
    {
        p[x].L = 0;
    }
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (y == fa)
            continue;
        getL1(y, x);
        p[x].L = min(p[x].L, p[y].L + 1);
    }
}
void getL2(int x, int fa)
{
    if (fa)
        p[x].L = min(p[x].L, p[fa].L + 1);
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (y == fa)
            continue;
        getL2(y, x);
    }
}
void getsz(int x, int fa)
{
    sz[x] = 1;
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (p[y].v || y == fa)
            continue;
        getsz(y, x);
        sz[x] += sz[y];
    }
}
int gr(int x, int fa, int full)
{
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (y != fa &amp;&amp; !p[y].v &amp;&amp; (sz[y] &lt;&lt; 1) &gt;= full)
            return gr(y, x, full);
    }
    return x;
}
void getroot(int x, int fa)
{
    getsz(x, fa);
    root = gr(x, fa, sz[x]);
}
void dfs(table &amp;s, int x, int fa, int dep)
{
    // printf(&quot;%d\n&quot;, x);
    s[p[x].L - dep] += 2 - p[x].deg;
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (y == fa || p[y].v)
            continue;
        dfs(s, y, x, dep + 1);
    }
}
void update(table &amp;s1, table &amp;s2, int x, int fa, int dep)
{
    if (p[x].deg != 1)
        p[x].ans += s1[dep] - s2[dep];
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (y == fa || p[y].v)
            continue;
        update(s1, s2, y, x, dep + 1);
    }
}
void wk(int x)
{
    // printf(&quot;s1:%d\n&quot;, x);
    s1.clear();
    dfs(s1, x, 0, 0);
    s1.gsum();
    if (p[x].L)
        p[x].ans += s1[0]; /*
    for (int i = s1.mn; i &lt;= s1.mx; i++)
        printf(&quot;%d %d\n&quot;, i, s1[i]);*/
    p[x].v = 1;
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (p[y].v)
            continue;
        s2.clear();
        dfs(s2, y, x, 1);
        s2.gsum(); /*
        printf(&quot;s2:%d\n&quot;, y);
        for (int j = s2.mn; j &lt;= s2.mx; j++)
            printf(&quot;%d %d\n&quot;, j, s2[j]);*/
        update(s1, s2, y, x, 1);
    }
    for (int i = fst[x]; i; i = e[i].n)
    {
        int y = e[i].y;
        if (p[y].v)
            continue;
        getroot(y, x);
        wk(root);
    }
}
void ins(int x, int y)
{
    e[++num] = {x, y, fst[x]};
    fst[x] = num;
}
int main()
{
    scanf(&quot;%d&quot;, &amp;n);
    for (int i = 1; i &lt; n; i++)
    {
        int x, y;
        scanf(&quot;%d%d&quot;, &amp;x, &amp;y);
        ins(x, y);
        ins(y, x);
        p[x].deg++;
        p[y].deg++;
    }
    getL1(1, 0); /*
    for (int i = 1; i &lt;= n; i++)
        printf(&quot;%d &quot;, p[i].L);
    puts(&quot;&quot;);*/
    getL2(1, 0); /*
    for (int i = 1; i &lt;= n; i++)
        printf(&quot;%d &quot;, p[i].L);
    puts(&quot;&quot;);*/
    for (int i = 1; i &lt;= n; i++)
        if (p[i].deg == 1)
            p[i].ans = 1;
    getroot(1, 0);
    int hh = root;
    wk(root);
    for (int i = 1; i &lt;= n; i++)
        printf(&quot;%d\n&quot;, p[i].ans);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
