<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>[CEOI2012]Printed Circuit Board - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="set,计算几何">
<meta property="og:type" content="article">
<meta property="og:title" content="[CEOI2012]Printed Circuit Board">
<meta property="og:url" content="https://tkj666.github.io/89/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:image" content="https://tkj666.github.io/89/circuit.PNG">
<meta property="og:updated_time" content="2020-12-09T03:04:25.381Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="[CEOI2012]Printed Circuit Board">
<meta name="twitter:description" content=".">
<meta name="twitter:image" content="https://tkj666.github.io/89/circuit.PNG">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666737">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="[CEOI2012]Printed Circuit Board" class="lazyload">
          <h1>[CEOI2012]Printed Circuit Board</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：给出一个简单多边形，问有多少个点能在原点被看见。<br>题解：set<br>先定义next(x)为x的下一个点，prev(x)为x的上一个点，multi(p0,p1,p2)为叉积。假设点的顺序是顺时针，如图所示。<br><img src="/89/circuit.PNG"><br>很明显，只需要从右往左的边，也就是multi(O,x,next(x))&gt;0的边，就可以挡住所有的点；换言之，只有这些边上的点有可能被看见。还是简单证明一下吧：对于上面的边（细边）它们已经被下面的边完全挡住了，不用考虑；对于一条在下面的从左往右的边，要从first走到它的起点——也就是左边的点，一定会先越过它；而从它的终点——也就是右边的点，要走到last，也一定会越过它。这两部分一个从这条边上面越过，另一部分从下面越过，一定可以覆盖这条边。<br>所以我们只需要把所有点按极角排序，从first逆时针扫到last，每个点作为以这个点为起点的边（一定是从右往左的边）插入一个可以插入元素、维护最小值、删除元素的数据结构中（线段树、堆、平衡树都可以实现。我用了set），删除以这个点为终点的边（假如在这个数据结构里的话），每次看看当前点是不是最靠下的（没有被挡住的）。<br>注意点也是可以挡住视线的，所以最后要处理一下极角相同，也就是与原点在同一条直线上的点，除了最近的，把剩下的都标为看不见就好了。<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;cstdio&gt;
#include&lt;cstring&gt;
#include&lt;algorithm&gt;
#include&lt;vector&gt;
#include&lt;set&gt;
using namespace std;

long long n,a[200010];
struct pnt
{
    long long x,y;
}p[200010],o;
bool ans[200010],rev=0;

long long next(long long x)
{
    return x==n?1:x+1;
}
long long prev(long long x)
{
    return x==1?n:x-1;
}
long long multi(pnt p0,pnt p1,pnt p2)
{
    long long x1=p1.x-p0.x,y1=p1.y-p0.y,x2=p2.x-p0.x,y2=p2.y-p0.y;
    return x1*y2-x2*y1;
}
long long cmp(long long x,long long y)
{
    return multi(o,p[x],p[y])==0?p[x].x&lt;p[y].x:multi(o,p[x],p[y])&gt;0;
}
void pre()
{
    p[0]=p[n];
    p[n+1]=p[1];
    long long st=1;
    for(long long i=2;i&lt;=n;i++)
    {
        if(multi(o,p[st],p[i])&lt;0||multi(o,p[st],p[i])==0&amp;&amp;p[i].x&lt;p[st].x)
        st=i;
    }
    if(multi(p[st],p[next(st)],p[prev(st)])&gt;0)
    reverse(p,p+2+n),rev=1,st=n-st+1;
    for(long long i=1;i&lt;=n;i++)
    {
        a[i]=i;
    }
    sort(a+1,a+n+1,cmp);
}
struct hhh
{
    long long x;
    hhh(long long _x)
    {
        x=_x;
    }
    bool operator&lt;(hhh y)const
    {
        if(x==y.x)
        return 0;
        return multi(o,p[x],p[y.x])&gt;=0&amp;&amp;multi(p[x],p[next(x)],p[y.x])&lt;=0||multi(o,p[x],p[y.x])&lt;0&amp;&amp;multi(p[y.x],p[next(y.x)],p[x])&gt;0;
    }
};
void out()
{
    if(rev)
    reverse(ans+1,ans+1+n);
    vector&lt;int&gt;hh;
    for(long long i=1;i&lt;=n;i++)
    if(ans[i])
    hh.push_back(i);
    printf(&quot;%lld\n&quot;,hh.size());
    for(vector&lt;int&gt;::iterator it=hh.begin();it!=hh.end();it++)
    printf(&quot;%lld &quot;,*it);
}
set&lt;hhh&gt;s;
bool in[200010];
int main()
{
    o={0,0};
    scanf(&quot;%lld&quot;,&amp;n);
    for(long long i=1;i&lt;=n;i++)
    scanf(&quot;%lld%lld&quot;,&amp;p[i].x,&amp;p[i].y);
    pre();
    for(long long i=1;i&lt;=n;i++)
    {
        if(in[prev(a[i])])
        {
            if(s.begin()-&gt;x==prev(a[i]))
            ans[a[i]]=1;
            in[prev(a[i])]=0;
            set&lt;hhh&gt;::iterator it=s.lower_bound(hhh(prev(a[i])));
//            it--;
//            printf(&quot;%lld %lld\n&quot;,it-&gt;x,prev(a[i]));
            s.erase(it);
        }
        if(multi(o,p[a[i]],p[next(a[i])])&gt;0)//只有这些边是有用的 
        {
            s.insert(hhh(a[i]));
            in[a[i]]=1;
            long long uu=s.begin()-&gt;x;
            if(multi(p[uu],p[next(uu)],p[a[i]])==0)
            ans[a[i]]=1;
        }
        else if(multi(p[s.begin()-&gt;x],p[next(s.begin()-&gt;x)],p[a[i]])==0)
        ans[a[i]]=1;/*
        printf(&quot;%lld\n&quot;,a[i]);
        for(long long i=1;i&lt;=n;i++)
        printf(&quot;%lld &quot;,in[i]);
        puts(&quot;&quot;);
        print();*/
    }
    ans[a[n]]=1;
    for(long long i=1,j=1;i&lt;=n;i=j)
    {
        j++;
        while(j&lt;=n&amp;&amp;multi(o,p[a[i]],p[a[j]])==0)
        ans[a[j++]]=0;
    }
    out();
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
