<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>noip2018翻车记 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="游记">
<meta property="og:type" content="article">
<meta property="og:title" content="noip2018翻车记">
<meta property="og:url" content="https://tkj666.github.io/104/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.400Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="noip2018翻车记">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666669">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="noip2018翻车记" class="lazyload">
          <h1>noip2018翻车记</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-3"><a class="toc-link" href="#day-0"><span class="toc-number">1.</span> <span class="toc-text">day 0</span></a></li><li class="toc-item toc-level-3"><a class="toc-link" href="#day-1"><span class="toc-number">2.</span> <span class="toc-text">day 1</span></a></li><li class="toc-item toc-level-3"><a class="toc-link" href="#day-2"><span class="toc-number">3.</span> <span class="toc-text">day 2</span></a></li><li class="toc-item toc-level-3"><a class="toc-link" href="#day-11"><span class="toc-number">4.</span> <span class="toc-text">day 11</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br><strong>高二翻车。。。果然菜是原罪</strong></p>
<h3 id="day-0"><a href="#day-0" class="headerlink" title="day 0"></a>day 0</h3><p>本来想在车上看满月篇的，但看一集就困了。。。准备回来的时候再看<br>今年在六中，自从西苑没了之后去六中都是住小巷子里的酒店，这次也不例外。（吐槽：大堂4g信号极差）（有幸得到了少数几个没有阳台的房间）<br>晚餐和麦老大beginend和金中的同学们给给，目睹了一场毛毛虫和beginend的爱情故事。<br>晚上开完会看一会儿直播就睡了</p>
<h3 id="day-1"><a href="#day-1" class="headerlink" title="day 1"></a>day 1</h3><p>（难得有一天听见了6点的闹钟，但还是躺到6:30才起床）<br>考场的键盘和以前用的那个键盘手感很像，打得很爽（虽然没那么响就是了）。开始之后每题都大概看了一遍：A……签到……B……好像很数论的样子啊……C……树……路……一次……然后就愉快地看错了C。。看成了每个点至少经过一次。。不过没有细想，开始写A。然后开始想B。玩了玩样例发现答案应该是一个子集。然后就猜了一个极其错误的结论：一个数最多由两个数拼出来……$O(Tn^3)$复杂度好像很稳的样子，码码码，打到10:30，小数据过了，大数据凉了，然后发现最后一个过不去。结论好像是错的。。于是决定先放一下，看一下C，然后再一次看错了题。。这下是至多一次了。。想了想，感觉好像和直径有点关系，但心里还是放不下B，接着回去刚。然后想了一个奇怪的东西，开一个<code>v</code>数组表示能不能拼到。。并没有调出来。。时间已经到了11:30了，一路ctrl+z回去，然后终于看对了C的题意，但现在心烦意乱，虽然觉得非常可做但已经什么都想不了了，草草打完暴力就不管了。出来一交流发现今天全世界都阿克了。。我是sb<br>下午和其他人去看电影，今年的柯南虽然还是非常的动作，但起码看得懂了，不像去年整个看下来都不知道歌牌的规则。。。</p>
<h3 id="day-2"><a href="#day-2" class="headerlink" title="day 2"></a>day 2</h3><p>起得极晚，6:40才醒来<br>day1大崩盘后满脑子都想着翻盘，心情贼紧张，既想着题难一点用来翻盘，又想着不要太难我自己都不会做<br>看一下A，没看数据范围，写了个$O(nlogn)$的东西，还是对于任意有向图的，然后发现错得一批，然后看到了数据范围，果断$O(n^2)$水过。然后看B，发现非常找规律的样子，放着先。看了一下C，感觉非常天天爱跑步，觉得想想估计可以A。不过还是先找了一下B的规律，发现50分都是可以直接搞出来的，但是并没有想到接下来怎么做，推了半天，想到了各种奇奇怪怪的做法，但并没有什么用，于是去看C。先写了个$O(nm)$的，然后想了一下发现可以优化到$O(m层数)$，这样就有52分了（貌似很多人都没拿这8分，，觉得太水了不屑于拿么。。）接下来就没有什么实质性的进展了。倒是C测大样例的时候发现文件名写成了defence。。英语太差了qwq<br>可以说是翻盘失败了吧。。</p>
<p>回程基本在颓B站。。刷到了一些老wt视频，发现当年的喷9还是一代王者，，sb安东把喷火全线削成什么样了，t2甚至100%都会过热，高速滚不动，西炮又火花，151又buff。。</p>
<h3 id="day-11"><a href="#day-11" class="headerlink" title="day 11"></a>day 11</h3><script type="math/tex; mode=display">100 + 70 + 40 + 100 + 50 + 52 = 412</script><p>d1t2的数据极水，我这垃圾做法居然水了70分（不过8700K跑不了Tn^3log有点玄幻，不过自己开大时限测也wa了）<br>估计没有wc了，开始沉迷文化课</p>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
