<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 4951: [Wf2017]Money for Nothing - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="分治">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 4951: [Wf2017]Money for Nothing">
<meta property="og:url" content="https://tkj666.github.io/79/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:image" content="https://tkj666.github.io/79/proof.PNG">
<meta property="og:updated_time" content="2020-12-09T03:04:25.357Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 4951: [Wf2017]Money for Nothing">
<meta name="twitter:description" content=".">
<meta name="twitter:image" content="https://tkj666.github.io/79/proof.PNG">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666734">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 4951: [Wf2017]Money for Nothing" class="lazyload">
          <h1>bzoj 4951: [Wf2017]Money for Nothing</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：给出n个生产者的开始生产时间和成本，和m个消费者的收购价格和收购截至时间，只能指定一个生产者和一个消费者，每天可以倒卖1个零件，问最大收益。<br>题解：分治<br>先把这题转换成一个几何问题：给出n个矩形的左下角和m个矩形的右上角，求最大矩形。设左下角点集为$L$，右上角为$U$再预处理一下，把那些不可能成为答案的点去掉，最终使得$L_i.x\lt L_{i+1}.x$且$L_i.y\gt L_{i+1}.y$。$U$也一样，只是去掉的点不同。具体看代码。然后设$u(i)$表示以$L_i$为左下角的最大矩形的右上角的编号。$u(i)$是递增的，这里证明一下吧：<img src="/79/proof.PNG"><br>如图：$u(A)=B$，所以$S_{OTUB}\gt S_{CMNO}$，假如$u(D)=C$那么就要满足$S_{CQPO}\gt S_{SBOR}$，这显然是不成立的。<br>所以，我们就可以分治来搞：每次我们处理左下角在$l_1\sim r_1$之间，右上角在$l_2\sim r_2$之间的最大值，设$md=(l1+r1)/2$，递归下去找$l_1\sim md l_2\sim u(md)$和$md\sim r_1 u(md)\sim r_2$。这样总共$logn$层，每层总共遍历一次$U$，再加上预处理排序的$nlogn$，总复杂度就是$O((n+m)logn)$<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;

int n,m;
struct pnt
{
    int x,y;
}a[500010],b[500010];

int cmp(pnt x,pnt y)
{
    return x.x==y.x?x.y&lt;y.y:x.x&lt;y.x;
}
int pre(pnt*a,int size,int type)
{
    sort(a,a+size,cmp);
    static bool del[500010];
    memset(del,0,sizeof(del));
    if(type==0)
    {
        int last=0;
        for(int i=1;i&lt;size;i++)
        {
            if(a[i].y&gt;=a[last].y)
            del[i]=1;
            else
            last=i;
        }
    }
    else
    {
        int last=size-1;
        for(int i=size-2;i&gt;=0;i--)
        {
            if(a[i].y&lt;=a[last].y)
            del[i]=1;
            else
            last=i;
        }
    }
    int nn=0;
    for(int i=0;i&lt;size;i++)
    if(!del[i])
    a[nn++]=a[i];
    return nn;
}
long long get(int x,int y)
{
    if(b[y].x&lt;a[x].x&amp;&amp;b[y].y&lt;a[x].y)
    return 0;
    return (long long)(b[y].x-a[x].x)*(b[y].y-a[x].y);
}
long long wk(int l1,int r1,int l2,int r2)
{
    if(l1==r1)
    return 0;
    int md=l1+r1&gt;&gt;1,hh=l2;
    for(int i=l2+1;i&lt;r2;i++)
    if(get(md,hh)&lt;get(md,i))
    hh=i;
    return max(max(wk(l1,md,l2,hh+1),wk(md+1,r1,hh,r2)),get(md,hh));
}
int main()
{
    scanf(&quot;%d%d&quot;,&amp;n,&amp;m);
    for(int i=0;i&lt;n;i++)
    {
        scanf(&quot;%d%d&quot;,&amp;a[i].x,&amp;a[i].y);
    }
    for(int i=0;i&lt;m;i++)
    {
        scanf(&quot;%d%d&quot;,&amp;b[i].x,&amp;b[i].y);
    }
    n=pre(a,n,0);
    m=pre(b,m,1);/*
    puts(&quot;&quot;);
    for(int i=0;i&lt;n;i++)
    printf(&quot;%d %d\n&quot;,a[i].x,a[i].y);
    puts(&quot;&quot;);
    for(int i=0;i&lt;m;i++)
    printf(&quot;%d %d\n&quot;,b[i].x,b[i].y);
    for(int i=0;i&lt;n;i++)
    {
        int hh=0;
        for(int j=0;j&lt;m;j++)
        if(get(i,hh)&lt;get(i,j))
        hh=j;
        printf(&quot;%d %d\n&quot;,i,hh);
    }*/
    printf(&quot;%lld&quot;,wk(0,n,0,m));
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
