<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 3065: 带插入区间K小值 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="分块">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 3065: 带插入区间K小值">
<meta property="og:url" content="https://tkj666.github.io/47/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.296Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 3065: 带插入区间K小值">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666702">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 3065: 带插入区间K小值" class="lazyload">
          <h1>bzoj 3065: 带插入区间K小值</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：带插入、修改的区间k小值<br>题解：大力分块<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;
int n,q;
int blocksize,lastans=0,u[70010];
list&lt;vector&lt;int&gt; &gt;a,b;
list&lt;vector&lt;int&gt; &gt;::iterator ita,itb,itax,itay,itbx,itby;
int posx,posy;
void splita(list&lt;vector&lt;int&gt; &gt;::iterator ita)
{
    vector&lt;int&gt;hh;
    for(int i=blocksize;i&lt;(blocksize&lt;&lt;1);i++)
    hh.push_back((*ita)[i]);
    for(int i=blocksize;i&lt;(blocksize&lt;&lt;1);i++)
    ita-&gt;pop_back();
    a.insert(++ita,hh);
}
void split(list&lt;vector&lt;int&gt; &gt;::iterator ita,list&lt;vector&lt;int&gt; &gt;::iterator itb)
{
    splita(ita);
    ita++;
    static int tf[70010];
    memset(tf,0,sizeof(tf));
    for(int i=0;i&lt;blocksize;i++)
    tf[(*ita)[i]]++;
    int hh=0,mx=*itb-&gt;rbegin();
    while(!tf[hh])
    hh++;
    for(int i=0;i&lt;(blocksize&lt;&lt;1)&amp;&amp;hh&lt;=mx;i++)
    {
        if((*itb)[i]==hh)
        {
            itb-&gt;erase(itb-&gt;begin()+i);
            i--;
            tf[hh]--;
            while(!tf[hh]&amp;&amp;hh&lt;=mx)
            hh++;
        }
    }
    b.insert(++itb,*ita);
    itb--;
    sort(itb-&gt;begin(),itb-&gt;end());
}
int getpos(int x)
{
    int s=0;
    for(ita=a.begin(),itb=b.begin();ita!=a.end();ita++,itb++)
    {
        s+=ita-&gt;size();
        if(s&gt;=x)
        break;
    }
    if(s&gt;=x)
    {
        s-=ita-&gt;size();
        return x-s-1;
    }
    else
    {
        return 0;
    }
}
int get(int x)
{
    int szx=itax-&gt;size(),ans=0;
    for(int i=posx;i&lt;szx;i++)
    if((*itax)[i]&lt;x)
    ans++;
    for(int i=0;i&lt;=posy;i++)
    if((*itay)[i]&lt;x)
    ans++;
    for(list&lt;vector&lt;int&gt; &gt;::iterator it=++itbx;it!=itby;it++)
    ans+=int(lower_bound(it-&gt;begin(),it-&gt;end(),x)-it-&gt;begin());
    itbx--;
    // printf(&quot;%d %d\n&quot;,x,ans);
    return ans;
}
int chk(const int&amp; x,const int&amp; y)
{
    return get(x)&lt;y;
}
int main()
{
    for(int i=0;i&lt;=70001;i++)
    u[i]=i;
    scanf(&quot;%d&quot;,&amp;n);
    // blocksize=sqrt(n);
    blocksize=610;
    // blocksize=10;
    for(int i=1;i&lt;=n;i++)
    {
        int x;
        scanf(&quot;%d&quot;,&amp;x);
        if(a.empty())
        {
            vector&lt;int&gt;hh;
            a.push_back(hh);
        }
        a.back().push_back(x);
        if(a.back().size()&gt;=2*blocksize)
        splita(--a.end());
    }
    b=a;
    for(itb=b.begin();itb!=b.end();itb++)
    {
        sort(itb-&gt;begin(),itb-&gt;end());
    }
    scanf(&quot;%d&quot;,&amp;q);
    int kk=0;
    while(q--)
    {
        char op[3];
        int x,y,k;
        scanf(&quot;%s&quot;,op);
        switch(op[0])
        {
            int pos;
            case &#39;M&#39;:
                scanf(&quot;%d%d&quot;,&amp;x,&amp;k);
                x^=lastans;
                k^=lastans;
                pos=getpos(x);
                *lower_bound(itb-&gt;begin(),itb-&gt;end(),(*ita)[pos])=k;
                sort(itb-&gt;begin(),itb-&gt;end());
                (*ita)[pos]=k;
                break;
            case &#39;I&#39;:
                scanf(&quot;%d%d&quot;,&amp;x,&amp;k);
                x^=lastans;
                k^=lastans;
                pos=getpos(x);
                if(ita==a.end())
                {
                    ita--;
                    itb--;
                    pos=ita-&gt;size();
                }
                ita-&gt;insert(ita-&gt;begin()+pos,k);
                itb-&gt;push_back(k);
                sort(itb-&gt;begin(),itb-&gt;end());
                if(ita-&gt;size()&gt;=(blocksize&lt;&lt;1))
                split(ita,itb);
                break;
            case &#39;Q&#39;:
                scanf(&quot;%d%d%d&quot;,&amp;x,&amp;y,&amp;k);
                x^=lastans;
                y^=lastans;
                k^=lastans;
                if(x&gt;y)
                swap(x,y);
                posx=getpos(x);
                itax=ita,itbx=itb;
                posy=getpos(y);
                itay=ita,itby=itb;
                if(itax==itay)
                {/*
                    set&lt;int&gt;s;
                    for(int i=posx;i&lt;=posy;i++)
                    s.insert((*ita)[i]);
                    set&lt;int&gt;::iterator it=s.begin();
                    k--;
                    for(;it!=s.end()&amp;&amp;k;it++,k--);
                    printf(&quot;%d\n&quot;,lastans=*it);*/
                    vector&lt;int&gt;s;
                    for(int i=posx;i&lt;=posy;i++)
                    s.push_back((*ita)[i]);
                    sort(s.begin(),s.end());
                    printf(&quot;%d\n&quot;,lastans=s[k-1]);
                }
                else
                printf(&quot;%d\n&quot;,lastans=*lower_bound(u,u+70001,k,chk)-1);
                break;
        }/*
        printf(&quot;i:%d\n&quot;,++kk);
        puts(&quot;a&quot;);
        for_each(a.begin(),a.end(),[](vector&lt;int&gt;x){printf(&quot;size:%d\n&quot;,x.size());for(auto i:x) printf(&quot;%d &quot;,i);puts(&quot;&quot;);});
        puts(&quot;b&quot;);
        for_each(b.begin(),b.end(),[](vector&lt;int&gt;x){printf(&quot;size:%d\n&quot;,x.size());for(auto i:x) printf(&quot;%d &quot;,i);puts(&quot;&quot;);});*/
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
