<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>Codeforces 273E. Dima and Game - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：Dima和Anya在玩游戏，规则是这样的：一张纸上有有序的$n$对数$(l_i, r_i)(1 \le l_i \lt r_i \le p)$，然后它们轮流进行操作：选一对数$(l_i, r_i)$满足$r_i - l_i \gt 2$，然后把它变成$(l_i + \lfloor \frac{r_i - l_i} 3 \rfloor, l_i + 2 \cdot \lfloor \frac{">
<meta name="keywords" content="DP,博弈,打表">
<meta property="og:type" content="article">
<meta property="og:title" content="Codeforces 273E. Dima and Game">
<meta property="og:url" content="https://tkj666.github.io/101/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：Dima和Anya在玩游戏，规则是这样的：一张纸上有有序的$n$对数$(l_i, r_i)(1 \le l_i \lt r_i \le p)$，然后它们轮流进行操作：选一对数$(l_i, r_i)$满足$r_i - l_i \gt 2$，然后把它变成$(l_i + \lfloor \frac{r_i - l_i} 3 \rfloor, l_i + 2 \cdot \lfloor \frac{">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.382Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Codeforces 273E. Dima and Game">
<meta name="twitter:description" content="题意：Dima和Anya在玩游戏，规则是这样的：一张纸上有有序的$n$对数$(l_i, r_i)(1 \le l_i \lt r_i \le p)$，然后它们轮流进行操作：选一对数$(l_i, r_i)$满足$r_i - l_i \gt 2$，然后把它变成$(l_i + \lfloor \frac{r_i - l_i} 3 \rfloor, l_i + 2 \cdot \lfloor \frac{">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666667">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="Codeforces 273E. Dima and Game" class="lazyload">
          <h1>Codeforces 273E. Dima and Game</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>Dima和Anya在玩游戏，规则是这样的：一张纸上有有序的$n$对数$(l_i, r_i)(1 \le l_i \lt r_i \le p)$，然后它们轮流进行操作：选一对数$(l_i, r_i)$满足$r_i - l_i \gt 2$，然后把它变成$(l_i + \lfloor \frac{r_i - l_i} 3 \rfloor, l_i + 2 \cdot \lfloor \frac{r_i - l_i} 3 \rfloor)$或$(l_i, r_i - \lfloor \frac{r_i - l_i} 3 \rfloor)$。不能移动的人就输了。给出$n$和$p$，求出能让先手获胜的方案数。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>首先打个表找找规律，发现<code>sg</code>值一大段一大段都是一样的，所有我们可以直接把一整段的<code>sg</code>值求出来，然后<code>dp</code>就很简单了吧。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;cstdio&gt;
#include &lt;cstring&gt;
#include &lt;algorithm&gt;
#include &lt;vector&gt;
#include &lt;utility&gt;
using namespace std;

const int mod = 1000000007, inv2 = 500000004;
int n, p;
long long s[3], f[1010][4];
struct th
{
    int l, r, c;
    th(int l, int r, int c) : l(l), r(r), c(c) {}
    th(int r) : r(r) {}
};
bool operator&lt;(th x, th y)
{
    return x.r &lt; y.r;
}
vector&lt;th&gt; t;

int mex(int x, int y)
{
    static bool hh[3];
    hh[0] = hh[1] = hh[2] = 0;
    hh[x] = hh[y] = 1;
    for (int i = 0; i &lt; 3; i++)
        if (!hh[i]) return i;
}
long long get(long long x, long long y)
{
    return (x + y) % mod * (y - x + 1) % mod * inv2 % mod;
}
int main()
{
    scanf(&quot;%d%d&quot;, &amp;n, &amp;p);
    if (p &lt;= 2)
    {
        puts(&quot;0&quot;);
        return 0;
    }
    t.emplace_back(1, 2, 0);
    t.emplace_back(3, 3, 1);
    t.emplace_back(4, 4, 2);
    t.emplace_back(5, 6, 1);
    // int cnt = 0;
    while (t.back().r &lt; p)
    {
        int a1 = (t.back().r + 1) / 3;
        auto it1 = lower_bound(t.begin(), t.end(), a1);
        int a2 = t.back().r + 1 - a1;
        auto it2 = lower_bound(t.begin(), t.end(), a2);
        int b1 = it1-&gt;r, b2 = it2-&gt;r;
        int c = mex(it1-&gt;c, it2-&gt;c), r;
        if (b1 * 2 + 2 &gt; b2)
        {
            b1 = b2 / 2;
            r = b1 + b2;
        }
        else
            r = b1 * 3 + 2;
        if (c == t.back().c) t.back().r = r;
        else t.emplace_back(t.back().r + 1, r, c);
        // cnt++;
    }/*
    for (th x : t)
        printf(&quot;%d %d %d\n&quot;, x.l, x.r, x.c);*/
    // printf(&quot;%d\n&quot;, cnt);
    for (const th &amp;x : t)
    {
        if (x.l &gt;= p) break;
        (s[x.c] += get(max(1, p - x.r), p - x.l)) %= mod;
    }
    // printf(&quot;%lld %lld %lld\n&quot;, s[0], s[1], s[2]);
    f[0][0] = 1;
    for (int i = 1; i &lt;= n; i++)
    {
        for (int j = 0; j &lt;= 3; j++)
            for (int k = 0; k &lt;= 3; k++)
                if ((j ^ k) &lt;= 2)
                    (f[i][j] += (f[i - 1][k] * s[j ^ k]) % mod) %= mod;
        // printf(&quot;%lld %lld %lld %lld\n&quot;, f[i][0], f[i][1], f[i][2], f[i][3]);
    }
    printf(&quot;%lld\n&quot;, (f[n][1] + f[n][2] + f[n][3]) % mod);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
