<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 1502: [NOI2005]月下柠檬树 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="计算几何,数学,辛普森积分法">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 1502: [NOI2005]月下柠檬树">
<meta property="og:url" content="https://tkj666.github.io/18/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.254Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 1502: [NOI2005]月下柠檬树">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666697">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 1502: [NOI2005]月下柠檬树" class="lazyload">
          <h1>bzoj 1502: [NOI2005]月下柠檬树</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：一组与地面呈$\alpha$角的平行光线射向一颗由圆台组成的树，问地面投影面积。<br>题解：自适应辛普森积分法。<br>圆投影下来还是圆，母线投影下来就是公切线（如果上底和下底的投影重合，那么母线的投影就不用考虑了）。求面积可以用辛普森积分法：<script type="math/tex">\int_a^b f(x)dx\approx\frac{b-a}{6}\Bigl[f(a)+4f\bigl(\frac{a+b}{2}\bigr)+f(b)\Bigr]</script>这个不太精确，所以可以先用这个算出左右两边的面积，看看和是否等于整个一起算的，不等于就递归下去搞。至于怎么算$f(x)$,看代码吧。<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;
int n;
double alpha,h[510],r[510];
const double eps=1e-8;
struct circle
{
    double x,r;
}c[510];
struct line
{
    double k,b,l,r;
};
vector&lt;line&gt;l;
inline bool in(circle &amp;x,circle &amp;y)
{
    return abs(x.x-y.x)-abs(x.r-y.r)&lt;eps;
}
double f(double x)
{
    double ans=0;
    for(int i=1;i&lt;=n;i++)
    if(abs(c[i].x-x)-c[i].r&lt;eps)
    ans=max(ans,sqrt(c[i].r*c[i].r-(c[i].x-x)*(c[i].x-x)));
    static int sz=l.size();
    for(int i=0;i&lt;sz;i++)
    if(x-l[i].l&gt;-eps&amp;&amp;x-l[i].r&lt;eps)
    ans=max(ans,l[i].k*x+l[i].b);
    return ans*2;
}
inline double cal(double l,double r)
{
    return (r-l)/6*(f(l)+4*f((l+r)/2)+f(r));
}
double simpson(double l,double r)
{
    double md=(l+r)/2;
    double s=cal(l,r),ls=cal(l,md),rs=cal(md,r);
    if(abs(ls+rs-s)&lt;eps)
    return s;
    else
    return simpson(l,md)+simpson(md,r);
}
int main()
{
    scanf(&quot;%d%lf&quot;,&amp;n,&amp;alpha);
    n++;
    for(int i=1;i&lt;=n;i++)
    scanf(&quot;%lf&quot;,&amp;h[i]);
    for(int i=1;i&lt;n;i++)
    scanf(&quot;%lf&quot;,&amp;r[i]);
    r[n]=0;
    for(int i=1;i&lt;=n;i++)
    {
        h[i]+=h[i-1];
        c[i].r=r[i];
        c[i].x=h[i]/tan(alpha);
    }
    for(int i=1;i&lt;n;i++)
    {
        if(in(c[i],c[i+1]))
        continue;
        double Sin=(c[i+1].r-c[i].r)/(c[i+1].x-c[i].x),Cos=sqrt(1-Sin*Sin);
        double x1=c[i].x-c[i].r*Sin,y1=c[i].r*Cos,x2=c[i+1].x-c[i+1].r*Sin,y2=c[i+1].r*Cos;
        line hh;
        hh.k=(y1-y2)/(x1-x2);
        hh.b=y1-hh.k*x1;
        hh.l=x1;
        hh.r=x2;
        if(hh.l-hh.r&gt;eps)
        swap(hh.l,hh.r);
        l.push_back(hh);
    }/*
    puts(&quot;circles:&quot;);
    for(int i=1;i&lt;=n;i++)
    printf(&quot;%lf %lf\n&quot;,c[i].x,c[i].r);
    puts(&quot;lines:&quot;);
    for(auto i:l)
    printf(&quot;%lf %lf %lf %lf\n&quot;,i.k,i.b,i.l,i.r);*/
    double ll=1e10,rr=-1e10;
    for(int i=1;i&lt;=n;i++)
    {
        ll=min(ll,c[i].x-c[i].r);
        rr=max(rr,c[i].x+c[i].r);
    }
    printf(&quot;%.2lf\n&quot;,simpson(ll,rr));
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
