<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 3738: [Ontak2013]Kapitał - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="组合数学,数论">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 3738: [Ontak2013]Kapitał">
<meta property="og:url" content="https://tkj666.github.io/62/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.321Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 3738: [Ontak2013]Kapitał">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666722">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 3738: [Ontak2013]Kapitał" class="lazyload">
          <h1>bzoj 3738: [Ontak2013]Kapitał</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意已经够简短就不概括了吧。<br>题解：<br>k最大是9，那就直接当所有都$\%10^9$吧。答案再保留k位就好。<br>把$10^9$拆成$2^9 \times 5^9$，假设我们知道$C_{N+M}^N\%2^9$和$C_{N+M}^N\%5^9$的值，我们就可以用中国剩余定理或扩展欧几里得求出答案。具体来说，就是设$x=C_{N+M}^N,\begin{cases}x \equiv a\pmod{2^9}\\ x \equiv b\pmod{5^9}\end{cases}$，那么$x=k\cdot 2^9\cdot 5^9+a\cdot 5^9\cdot inv(5^9,2^9)+b\cdot 2^9\cdot inv(2^9,5^9)$，模掉$10^9$就只剩后面两项了。</p>
<p>那么怎么求$C_{N+M}^N\%2^9$和$C_{N+M}^N\%5^9$呢？Lucas定理是行不通了，因为模数不是质数。分子分母分别求出来再除（乘逆元）的话，可能会出现这种情况：结果是$\frac{a\cdot p^\alpha}{b\cdot p^\beta}$，当$\alpha$和$\beta$都$\ge9$时上下都=0，而答案可能不等于0。所以我们要保留$\alpha$和$\beta$，而$a$和$b$就可以随便模。求$C$就可以直接用阶乘模质数的幂来搞了。阶乘模质数的幂这样来做：$$<br>n!\\\<br> =1\times2\times3\times\cdots\times n\\\<br> =1\times\cdots\times(p-1)\times(p+1)\times(p+2)\times\cdots\times(2p-1)\times(2p+1)\times\cdots\times n\times p^{\lfloor n/p\rfloor}\times (1\times2\times\cdots\times \lfloor n/p\rfloor)\\\<br> =1\times\cdots\times(p-1)\times(p+1)\times(p+2)\times\cdots\times(2p-1)\times(2p+1)\times\cdots\times n\times p^{\lfloor n/p\rfloor}\times \lfloor n/p\rfloor!</p>
<p>$$<br>前面的部分预处理，最后那部分可以递归下去搞，返回一个$a\cdot p^x$。除的时候把x相减，乘上a的逆元就好了。<br>好像已经做完了。<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;

long long n,m,k,fac1[513],fac2[1953126];
struct num
{
    long long x,y;//x*p^y
};

num times(num x,num y,long long p)
{
    return (num){x.x*y.x%p,x.y+y.y};
}
long long pow(long long x,long long y,long long p)
{
    if(y==0)
    return 1;
    long long ans=pow(x,y&gt;&gt;1,p);
    ans=ans*ans%p;
    if(y&amp;1)
    ans=ans*x%p;
    return ans;
}
long long exgcd(long long a,long long b,long long&amp;x,long long&amp;y)
{
    if(b==0)
    {
        x=1;
        y=0;
        return a;
    }
    long long tx,ty,d=exgcd(b,a%b,tx,ty);
    x=ty;
    y=tx-(a/b)*ty;
    return d;
}
long long inv(long long a,long long p)//ax%p=1
{
    long long x,y;
    exgcd(a,p,x,y);
    x=(x%p+p)%p;
    return x;
}
num inv(num x,long long p)
{
    x.x=inv(x.x,p);
    x.y*=-1;
    return x;
}
num div(num x,num y,long long p)
{
    return times(x,inv(y,p),p);
}
num wk(long long n,long long p,long long pk,long long* fac)//n!%p^k  pk=p^k
{
    if(n==0)
    return (num){1,0};
    long long hh=pow(fac[pk],n/pk,pk)*fac[n%pk]%pk;
    return times((num){hh,n/p},wk(n/p,p,pk,fac),pk);
}
int main()
{
    scanf(&quot;%lld%lld%lld&quot;,&amp;n,&amp;m,&amp;k);
    fac1[0]=1;
    for(int i=1;i&lt;=512;i++)
    fac1[i]=fac1[i-1]*((i&amp;1)?i:1)%512;
    fac2[0]=1;
    for(int i=1;i&lt;=1953125;i++)
    fac2[i]=fac2[i-1]*((i%5)?i:1)%1953125;
    num a=wk(n+m,2,512,fac1);
    a=div(a,wk(n,2,512,fac1),512);
    a=div(a,wk(m,2,512,fac1),512);
    num b=wk(n+m,5,1953125,fac2);
    b=div(b,wk(n,5,1953125,fac2),1953125);
    b=div(b,wk(m,5,1953125,fac2),1953125);
    long long hh=min(a.y,b.y);
    long long ans2=a.x*pow(2,a.y-hh,512)%512*pow(inv(5,512),hh,512)%512;
    long long ans5=b.x*pow(5,b.y-hh,1953125)%1953125*pow(inv(2,1953125),hh,1953125)%1953125;
    long long ans=(ans2*1953125%1000000000*inv(1953125,512)%1000000000+ans5*512*inv(512,1953125)%1000000000)%1000000000;
    char s[10];
    sprintf(s,&quot;%%0%lldlld&quot;,k);
    printf(s,ans%pow(10,k,1000000001));
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
