<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 2877: [Noi2012]魔幻棋盘 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="线段树,裴蜀定理,gcd">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 2877: [Noi2012]魔幻棋盘">
<meta property="og:url" content="https://tkj666.github.io/45/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.293Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 2877: [Noi2012]魔幻棋盘">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666757">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 2877: [Noi2012]魔幻棋盘" class="lazyload">
          <h1>bzoj 2877: [Noi2012]魔幻棋盘</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意：给出一个矩阵，每个操作可以使一个子矩阵加上一个数，或询问一个子矩阵的最大公约数。每个询问的中心都是(x,y)<br>题解：线段树。<br>相当于二维的<a href="http://blog.csdn.net/herobrine_tkj/article/details/78137511" target="_blank" rel="noopener">bzoj 5028: 小Z的加油店</a>，但加油店求的是一段的差分和第一个数的gcd，在这题就是矩阵的边界，我在这里卡了很久。。后来发现其实不一定要求第一个数，任意一个都是可以的。所以我们可以用一维线段树记录第x行和第y列的gcd，然后用二维线段树维护整个矩阵的gcd（都是差分后的）。<br>代码：<br><del>太恶心不想打</del><br>upd:<br>没忍住还是打了</p>
<pre><code class="lang-cpp">#include&lt;cstdio&gt;
#include&lt;cstring&gt;
#include&lt;map&gt;
#include&lt;cmath&gt;
#include&lt;algorithm&gt;
using namespace std;

int n,m,x,y;
struct tree1
{
    int l,r,lc,rc;
    long long c;
}tr1[1000010],tr2[1000010];
struct tree2
{
    int x1,y1,x2,y2,s1,s2,s3,s4;
    long long c;
}tr3[2000010];
int T,num1=0,num2=0,num3=0;
map&lt;int,map&lt;int,long long&gt; &gt;mp;
long long xy;

long long gcd(long long x,long long y)
{
    return y==0?x:gcd(y,x%y);
}
int bt1(tree1* tr,int&amp; num,int l,int r)
{
    int i=++num;
    tr[i].l=l;
    tr[i].r=r;
    if(l&lt;r)
    {
        int md=l+r&gt;&gt;1;
        tr[i].lc=bt1(tr,num,l,md);
        tr[i].rc=bt1(tr,num,md+1,r);
    }
    return i;
}
int bt2(int x1,int y1,int x2,int y2)
{
    int i=++num3;
    tr3[i].x1=x1;
    tr3[i].y1=y1;
    tr3[i].x2=x2;
    tr3[i].y2=y2;
    if(x1&lt;x2&amp;&amp;y1&lt;y2)
    {
        int md1=x1+x2&gt;&gt;1,md2=y1+y2&gt;&gt;1;
        tr3[i].s1=bt2(x1,y1,md1,md2);
        tr3[i].s2=bt2(x1,md2+1,md1,y2);
        tr3[i].s3=bt2(md1+1,y1,x2,md2);
        tr3[i].s4=bt2(md1+1,md2+1,x2,y2);
    }
    else if(x1&lt;x2)
    {
        int md=x1+x2&gt;&gt;1;
        tr3[i].s1=bt2(x1,y1,md,y1);
        tr3[i].s3=bt2(md+1,y1,x2,y1);
    }
    else if(y1&lt;y2)
    {
        int md=y1+y2&gt;&gt;1;
        tr3[i].s1=bt2(x1,y1,x1,md);
        tr3[i].s2=bt2(x1,md+1,x1,y2);
    }
    return i;
}
void chg1(tree1* tr,int i,long long c,int p)
{
    if(tr[i].l==tr[i].r)
    {
        tr[i].c+=c;
        return;
    }
    int md=tr[i].l+tr[i].r&gt;&gt;1,lc=tr[i].lc,rc=tr[i].rc;
    if(p&lt;=md)
    chg1(tr,lc,c,p);
    else
    chg1(tr,rc,c,p);
    tr[i].c=gcd(tr[lc].c,tr[rc].c);
}
void chg2(int i,int x,int y,long long c)
{
//    printf(&quot;%d %d %d\n&quot;,i,x,y);
    if(tr3[i].x1==tr3[i].x2&amp;&amp;tr3[i].y1==tr3[i].y2)
    {
        tr3[i].c+=c;
        return;
    }
    int md1=tr3[i].x1+tr3[i].x2&gt;&gt;1,md2=tr3[i].y1+tr3[i].y2&gt;&gt;1,s1=tr3[i].s1,s2=tr3[i].s2,s3=tr3[i].s3,s4=tr3[i].s4;
    if(x&lt;=md1&amp;&amp;y&lt;=md2)
    chg2(s1,x,y,c);
    else if(x&lt;=md1&amp;&amp;y&gt;md2)
    chg2(s2,x,y,c);
    else if(x&gt;md1&amp;&amp;y&lt;=md2)
    chg2(s3,x,y,c);
    else
    chg2(s4,x,y,c);
    tr3[i].c=gcd(gcd(tr3[s1].c,tr3[s2].c),gcd(tr3[s3].c,tr3[s4].c));
}
void chg(int x1,int y1,int x2,int y2,long long c)
{
    chg2(1,x1,y1,c);
    chg2(1,x2+1,y1,-c);
    chg2(1,x1,y2+1,-c);
    chg2(1,x2+1,y2+1,c);
    if(x1&lt;=x&amp;&amp;x2&gt;=x)
    {
        chg1(tr2,1,c,y1);
        chg1(tr2,1,-c,y2+1);
    }
    if(y1&lt;=y&amp;&amp;y2&gt;=y)
    {
        chg1(tr1,1,c,x1);
        chg1(tr1,1,-c,x2+1);
    }
    if(x1&lt;=x&amp;&amp;x2&gt;=x&amp;&amp;y1&lt;=y&amp;&amp;y2&gt;=y)
    xy+=c;
}
long long get1(tree1* tr,int i,int l,int r)
{
    if(l&gt;r)
    return 0;
    if(tr[i].l==l&amp;&amp;tr[i].r==r)
    return tr[i].c;
    int md=tr[i].l+tr[i].r&gt;&gt;1,lc=tr[i].lc,rc=tr[i].rc;
    if(r&lt;=md)
    return get1(tr,lc,l,r);
    else if(l&gt;md)
    return get1(tr,rc,l,r);
    else
    return gcd(get1(tr,lc,l,md),get1(tr,rc,md+1,r));
}
long long get2(int i,int x1,int y1,int x2,int y2)
{
    if(x1&gt;x2||y1&gt;y2)
    return 0;
    if(tr3[i].x1==x1&amp;&amp;tr3[i].y1==y1&amp;&amp;tr3[i].x2==x2&amp;&amp;tr3[i].y2==y2)
    return tr3[i].c;
    int md1=tr3[i].x1+tr3[i].x2&gt;&gt;1,md2=tr3[i].y1+tr3[i].y2&gt;&gt;1,s1=tr3[i].s1,s2=tr3[i].s2,s3=tr3[i].s3,s4=tr3[i].s4;
    if(x2&lt;=md1)
    {
        if(y2&lt;=md2)
        {
            return get2(s1,x1,y1,x2,y2);
        }
        else if(y1&gt;md2)
        {
            return get2(s2,x1,y1,x2,y2);
        }
        else
        {
            return gcd(get2(s1,x1,y1,x2,md2),get2(s2,x1,md2+1,x2,y2));
        }
    }
    else if(x1&gt;md1)
    {
        if(y2&lt;=md2)
        {
            return get2(s3,x1,y1,x2,y2);
        }
        else if(y1&gt;md2)
        {
            return get2(s4,x1,y1,x2,y2);
        }
        else
        {
            return gcd(get2(s3,x1,y1,x2,md2),get2(s4,x1,md2+1,x2,y2));
        }
    }
    else
    {
        if(y2&lt;=md2)
        {
            return gcd(get2(s1,x1,y1,md1,y2),get2(s3,md1+1,y1,x2,y2));
        }
        else if(y1&gt;md2)
        {
            return gcd(get2(s2,x1,y1,md1,y2),get2(s4,md1+1,y1,x2,y2));
        }
        else
        {
            return gcd(gcd(get2(s1,x1,y1,md1,md2),get2(s2,x1,md2+1,md1,y2)),gcd(get2(s3,md1+1,y1,x2,md2),get2(s4,md1+1,md2+1,x2,y2)));
        }
    }
}
long long get(int x1,int y1,int x2,int y2)
{
    return gcd(xy,gcd(get1(tr1,1,x-x1+1,x+x2),gcd(get1(tr2,1,y-y1+1,y+y2),get2(1,x-x1+1,y-y1+1,x+x2,y+y2))));
}
int main()
{
    scanf(&quot;%d%d%d%d%d&quot;,&amp;n,&amp;m,&amp;x,&amp;y,&amp;T);
    bt1(tr1,num1,1,n+1);
    bt1(tr2,num2,1,m+1);
    bt2(1,1,n+1,m+1);
    for(int i=1;i&lt;=n;i++)
    {
        for(int j=1;j&lt;=m;j++)
        {
            scanf(&quot;%lld&quot;,&amp;mp[i][j]);
            chg(i,j,i,j,mp[i][j]);
        }
    }
    xy=mp[x][y];
    while(T--)
    {
        int op,x1,y1,x2,y2;
        scanf(&quot;%d%d%d%d%d&quot;,&amp;op,&amp;x1,&amp;y1,&amp;x2,&amp;y2);
        if(op==0)
        printf(&quot;%lld\n&quot;,abs(get(x1,y1,x2,y2)));
        else
        {
            long long c;
            scanf(&quot;%lld&quot;,&amp;c);
            chg(x1,y1,x2,y2,c);
        }/*
    for(int i=1;i&lt;=num1;i++)
    printf(&quot;i:%d l:%d r:%d c:%lld\n&quot;,i,tr1[i].l,tr1[i].r,tr1[i].c);
    for(int i=1;i&lt;=num2;i++)
    printf(&quot;i:%d l:%d r:%d c:%lld\n&quot;,i,tr2[i].l,tr2[i].r,tr2[i].c);
    for(int i=1;i&lt;=num3;i++)
    printf(&quot;i:%d x1:%d y1:%d x2:%d y2:%d c:%lld\n&quot;,i,tr3[i].x1,tr3[i].y1,tr3[i].x2,tr3[i].y2,tr3[i].c);*/
    }
}
</code></pre>
<p>感谢<a href="https://blog.sengxian.com/solutions/bzoj-2877" target="_blank" rel="noopener">sengxian</a>的题解给我的启发。</p>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
