<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 5438: 青蛙 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：有$n$块石头排成一行，从左到右依次编号为$1$到$n$，相邻两块石头之间的距离为$1$。有$m$只青蛙，开始时都位于$1$号石头，它们都需要跳到$n$号石头上。青蛙只能跳到更靠右的石头上。如果第$i$只青蛙的某次跳跃的距离超过$d$，那么需要付出$c_i$的代价。求出满足以下两个条件时，总代价的最小值：(1)    石头$a_1,a_2,a_3,…,a_k$必须被跳到恰好一次。(2)">
<meta name="keywords" content="贪心">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 5438: 青蛙">
<meta property="og:url" content="https://tkj666.github.io/96/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：有$n$块石头排成一行，从左到右依次编号为$1$到$n$，相邻两块石头之间的距离为$1$。有$m$只青蛙，开始时都位于$1$号石头，它们都需要跳到$n$号石头上。青蛙只能跳到更靠右的石头上。如果第$i$只青蛙的某次跳跃的距离超过$d$，那么需要付出$c_i$的代价。求出满足以下两个条件时，总代价的最小值：(1)    石头$a_1,a_2,a_3,…,a_k$必须被跳到恰好一次。(2)">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.379Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 5438: 青蛙">
<meta name="twitter:description" content="题意：有$n$块石头排成一行，从左到右依次编号为$1$到$n$，相邻两块石头之间的距离为$1$。有$m$只青蛙，开始时都位于$1$号石头，它们都需要跳到$n$号石头上。青蛙只能跳到更靠右的石头上。如果第$i$只青蛙的某次跳跃的距离超过$d$，那么需要付出$c_i$的代价。求出满足以下两个条件时，总代价的最小值：(1)    石头$a_1,a_2,a_3,…,a_k$必须被跳到恰好一次。(2)">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666675">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 5438: 青蛙" class="lazyload">
          <h1>bzoj 5438: 青蛙</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p>有$n$块石头排成一行，从左到右依次编号为$1$到$n$，相邻两块石头之间的距离为$1$。有$m$只青蛙，开始时都位于$1$号石头，它们都需要跳到$n$号石头上。青蛙只能跳到更靠右的石头上。如果第$i$只青蛙的某次跳跃的距离超过$d$，那么需要付出$c_i$的代价。求出满足以下两个条件时，总代价的最小值：<br>(1)    石头$a_1,a_2,a_3,…,a_k$必须被跳到恰好一次。<br>(2)    其它石头(不包含$1$号石头和$n$号石头)不能被跳到。<br>有多组数据。<br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>首先，石头肯定越多越好，因为这样石头密度大一点，需要花费的概率就小一点。所以如果有青蛙在中途需要花费，不如让他花费一次的代价直接跳到$n$，还可以腾出更多的石头。青蛙跳有个贪心的策略，就是每次让当前最后那只青蛙跳到最前面的石头上。这样要花费的概率最小。而我们前面说要花费的一步要跳完，所以只有免费的青蛙在石头中间跳。同时这个还可以保证所有免费青蛙的位置都是连续的。免费青蛙的个数就是间隔为$d$的最小的石头数。扫一遍求出来就好了。最后把最大的那些价格分给免费青蛙，剩下的加起来就好了。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

int T, n, m, k, d, c[100010], a[100010];

int main()
{
    scanf(&quot;%d&quot;, &amp;T);
    while (T--)
    {
        scanf(&quot;%d%d%d%d&quot;, &amp;n, &amp;m, &amp;k, &amp;d);
        for (int i = 1; i &lt;= m; i++) scanf(&quot;%d&quot;, &amp;c[i]);
        for (int i = 1; i &lt;= k; i++) scanf(&quot;%d&quot;, &amp;a[i]);
        if (d &gt;= n - 1)
        {
            puts(&quot;0&quot;);
            continue;
        }
        a[0] = 1;
        a[k + 1] = n;
        sort(a + 1, a + 1 + k);/*
        for (int i = 0; i &lt;= k + 1; i++) printf(&quot;%d &quot;, a[i]);
        puts(&quot;&quot;);*/
        int hh = m;
        for (int l = 0, r = 1; l &lt;= k; l++)
        {
            while (r &lt;= k &amp;&amp; a[r + 1] - a[l] &lt;= d) r++;
            hh = min(hh, r - l);
            if (r == k + 1) break;
        }
        // printf(&quot;%d\n&quot;, hh);
        if (hh == 0) // 必须花钱
        {
            int mn = 2147483647;
            long long ans = 0;
            for (int i = 1; i &lt;= m; i++) mn = min(mn, c[i]), ans += c[i];
            ans -= mn;
            for (int i = 0; i &lt;= k; i++)
                if (a[i + 1] - a[i] &gt; d) ans += mn;
            printf(&quot;%lld\n&quot;, ans);
        }
        else
        {
            long long ans = 0;
            sort(c + 1, c + 1 + m);
            for (int i = 1; i &lt;= m - hh; i++)
                ans += c[i];
            printf(&quot;%lld\n&quot;, ans);
        }
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
