<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 3196: Tyvj 1730 二逼平衡树 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta name="keywords" content="splay,线段树,树套树">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 3196: Tyvj 1730 二逼平衡树">
<meta property="og:url" content="https://tkj666.github.io/50/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.300Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 3196: Tyvj 1730 二逼平衡树">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666710">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 3196: Tyvj 1730 二逼平衡树" class="lazyload">
          <h1>bzoj 3196: Tyvj 1730 二逼平衡树</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>题意很清楚了吧。。<br>题解：树套树。我用了个线段树套splay。讲道理可以不用套splay的，但就当练模板了吧。<br>代码：</p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;
struct Splay
{
    struct pnt
    {
        int c,n,sz;
        pnt *f,*s[2];
        pnt(int x,pnt *f):c(x),f(f),n(1),sz(1)
        {
            s[0]=s[1]=0;
        }
    }*root;
    Splay()
    {
        root=0;
    }
    void print(pnt*x)
    {
        if(!x)
        return;
        printf(&quot;*%d %d %d &quot;,x-&gt;c,x-&gt;n,x-&gt;sz);
        if(x-&gt;s[0])
        printf(&quot;l:%d &quot;,x-&gt;s[0]-&gt;c);
        if(x-&gt;s[1])
        printf(&quot;r:%d &quot;,x-&gt;s[1]-&gt;c);
        puts(&quot;&quot;);
        print(x-&gt;s[0]);
        print(x-&gt;s[1]);
    }
    void pushup(pnt *x)
    {
        x-&gt;sz=x-&gt;n;
        if(x-&gt;s[0])
        x-&gt;sz+=x-&gt;s[0]-&gt;sz;
        if(x-&gt;s[1])
        x-&gt;sz+=x-&gt;s[1]-&gt;sz;
    }
    void rot(pnt *x)
    {
        pnt *f=x-&gt;f,*ff=f-&gt;f,*R,*r;
        bool w=(x==f-&gt;s[0]);
        R=f;r=x-&gt;s[w];
        R-&gt;s[1-w]=r;
        if(r)
        r-&gt;f=R;
        R=ff;r=x;
        if(R)
        R-&gt;s[f==ff-&gt;s[1]]=r;
        r-&gt;f=R;
        R=x;r=f;
        R-&gt;s[w]=r;
        r-&gt;f=R;
        pushup(f);
        pushup(x);
    }
    void splay(pnt *x,pnt *rt)
    {
        while(x-&gt;f!=rt)
        {
            pnt *f=x-&gt;f,*ff=f-&gt;f;
            if(ff==rt)
            rot(x);
            else if((x==f-&gt;s[0])==(f==ff-&gt;s[0]))
            {
                rot(f);
                rot(x);
            }
            else
            {
                rot(x);
                rot(x);
            }
        }
        if(!rt)
        root=x;
    }
    void add(int x,pnt *f)
    {
        // printf(&quot;f:%d\n&quot;,f-&gt;c);
        pnt *p=new pnt(x,f);
        if(x&lt;f-&gt;c)
        f-&gt;s[0]=p;
        else
        f-&gt;s[1]=p;
        pushup(f);
        splay(f,0);
    }
    pnt* fd_by_val(int x)
    {
        pnt *now=root;
        while(now-&gt;c!=x)
        {
            if(x&lt;now-&gt;c)
            {
                if(now-&gt;s[0])
                now=now-&gt;s[0];
                else
                return now;
            }
            else
            {
                if(now-&gt;s[1])
                now=now-&gt;s[1];
                else
                return now;
            }
        }
        return now;
    }
    void ins(int x)
    {
        if(!root)
        {
            root=new pnt(x,0);
            return;
        }
        pnt *f=fd_by_val(x);
        // printf(&quot;%d\n&quot;,f-&gt;c);
        if(f-&gt;c==x)
        {
            f-&gt;n++;
            pushup(f);
            splay(f,0);
        }
        else
        {
            add(x,f);
        }
    }
    int getrank(int x)
    {
        pnt *now=fd_by_val(x);
        splay(now,0);
        // print(root);
        if(now-&gt;c&gt;=x)
        {
            if(now-&gt;s[0])
            return now-&gt;s[0]-&gt;sz;
            else
            return 0;
        }
        else
        {
            if(now-&gt;s[0])
            return now-&gt;s[0]-&gt;sz+now-&gt;n;
            else
            return now-&gt;n;
        }
    }
    int qian(int x)
    {
        pnt *now=fd_by_val(x);
        splay(now,0);/*
        puts(&quot;&quot;);
        print(root);
        puts(&quot;&quot;);*/
        if(now-&gt;c&lt;x)
        return now-&gt;c;
        else
        {
            if(!now-&gt;s[0])
            return -1;
            now=now-&gt;s[0];
            while(now-&gt;s[1])
            now=now-&gt;s[1];
            return now-&gt;c;
        }
    }
    int hou(int x)
    {
        pnt *now=fd_by_val(x);
        splay(now,0);
        if(now-&gt;c&gt;x)
        return now-&gt;c;
        else
        {
            if(!now-&gt;s[1])
            return 2147483647;
            now=now-&gt;s[1];
            while(now-&gt;s[0])
            now=now-&gt;s[0];
            return now-&gt;c;
        }
    }
    void del(int x)
    {
        pnt *hh=fd_by_val(x);/*
        puts(&quot;a&quot;);
        print(root);
        puts(&quot;b&quot;);
        printf(&quot;%d\n&quot;,hh-&gt;c);*/
        splay(hh,0);/*
        puts(&quot;c&quot;);
        print(root);
        puts(&quot;d&quot;);*/
        if(hh-&gt;n&gt;1)
        {
            hh-&gt;n--;
            hh-&gt;sz--;
        }
        else if(!hh-&gt;s[0]&amp;&amp;!hh-&gt;s[1])
        {
            root=0;
            delete hh;
        }
        else if(hh-&gt;s[0]&amp;&amp;!hh-&gt;s[1])
        {
            root=hh-&gt;s[0];
            root-&gt;f=0;
            delete hh;
        }
        else if(!hh-&gt;s[0]&amp;&amp;hh-&gt;s[1])
        {
            root=hh-&gt;s[1];
            root-&gt;f=0;
            delete hh;
        }
        else
        {
            pnt *now=hh-&gt;s[0];
            while(now-&gt;s[1])
            now=now-&gt;s[1];
            splay(now,hh);
            now-&gt;s[1]=hh-&gt;s[1];
            hh-&gt;s[1]-&gt;f=now;
            now-&gt;f=0;
            root=now;
            pushup(now);
            delete hh;
        }/*
        puts(&quot;g&quot;);
        print(root);
        puts(&quot;f&quot;);*/
    }
};
struct tree
{
    int l,r;
    tree *lc,*rc;
    Splay c;
}*rt;
int n,m,a[50010];
tree* bt(int l,int r)
{
    tree *i=new tree;
    i-&gt;l=l;
    i-&gt;r=r;
    i-&gt;lc=i-&gt;rc=0;
    if(l&lt;r)
    {
        int md=l+r&gt;&gt;1;
        i-&gt;lc=bt(l,md);
        i-&gt;rc=bt(md+1,r);
    }
    return i;
}
void add(tree *i,int x,int p)
{
    if(i-&gt;l==i-&gt;r)
    {
        i-&gt;c.ins(x);
        return;
    }
    i-&gt;c.ins(x);
    int md=i-&gt;l+i-&gt;r&gt;&gt;1;
    tree *lc=i-&gt;lc,*rc=i-&gt;rc;
    if(p&lt;=md)
    add(lc,x,p);
    else
    add(rc,x,p);
}
void chg(tree *i,int x,int p)
{
    if(i-&gt;l==i-&gt;r)
    {
        i-&gt;c.del(a[p]);
        i-&gt;c.ins(x);
        return;
    }
    i-&gt;c.del(a[p]);
    i-&gt;c.ins(x);
    int md=i-&gt;l+i-&gt;r&gt;&gt;1;
    tree *lc=i-&gt;lc,*rc=i-&gt;rc;
    if(p&lt;=md)
    chg(lc,x,p);
    else
    chg(rc,x,p);
}
int getrank(tree *i,int l,int r,int x)
{
    if(i-&gt;l==l&amp;&amp;i-&gt;r==r)
    {/*
        int hh=i-&gt;c.getrank(x);
        printf(&quot;%d %d %d %d\n&quot;,l,r,x,hh);
        return hh;*/
        return i-&gt;c.getrank(x);
    }
    int md=i-&gt;l+i-&gt;r&gt;&gt;1;
    tree *lc=i-&gt;lc,*rc=i-&gt;rc;
    if(r&lt;=md)
    return getrank(lc,l,r,x);
    else if(l&gt;md)
    return getrank(rc,l,r,x);
    else
    return getrank(lc,l,md,x)+getrank(rc,md+1,r,x);
}
int getkth(int l,int r,int k)
{
    int ll=0,len=100000001;
    while(len)
    {
        int md=ll+(len&gt;&gt;1);
        if(getrank(rt,l,r,md)&lt;k)
        {
            // printf(&quot;getrank(%d,%d,%d)=%d\n&quot;,l,r,md,getrank(rt,l,r,md));
            ll=md+1;
            len=len-(len&gt;&gt;1)-1;
        }
        else
        len&gt;&gt;=1;
    }
    return ll-1;
}
int getqian(tree *i,int l,int r,int x)
{
    if(i-&gt;l==l&amp;&amp;i-&gt;r==r)
    {
        // printf(&quot;%d %d %d\n&quot;,l,r,x);
        return i-&gt;c.qian(x);
    }
    int md=i-&gt;l+i-&gt;r&gt;&gt;1;
    tree *lc=i-&gt;lc,*rc=i-&gt;rc;
    if(r&lt;=md)
    return getqian(lc,l,r,x);
    else if(l&gt;md)
    return getqian(rc,l,r,x);
    else
    return max(getqian(lc,l,md,x),getqian(rc,md+1,r,x));
}
int gethou(tree *i,int l,int r,int x)
{
    if(i-&gt;l==l&amp;&amp;i-&gt;r==r)
    {
        return i-&gt;c.hou(x);
    }
    int md=i-&gt;l+i-&gt;r&gt;&gt;1;
    tree *lc=i-&gt;lc,*rc=i-&gt;rc;
    if(r&lt;=md)
    return gethou(lc,l,r,x);
    else if(l&gt;md)
    return gethou(rc,l,r,x);
    else
    return min(gethou(lc,l,md,x),gethou(rc,md+1,r,x));
}
void print(tree *i,int p)
{
    if(!i)
    return;
    printf(&quot;%d %d\n&quot;,i-&gt;l,i-&gt;r);
    i-&gt;c.print(i-&gt;c.root);
    int md=i-&gt;l+i-&gt;r&gt;&gt;1;
    if(p&lt;=md)
    print(i-&gt;lc,p);
    else
    print(i-&gt;rc,p);
}
int main()
{
    scanf(&quot;%d%d&quot;,&amp;n,&amp;m);
    rt=bt(1,n);
    for(int i=1;i&lt;=n;i++)
    {
        scanf(&quot;%d&quot;,&amp;a[i]);
        add(rt,a[i],i);
    }/*
    rt-&gt;c.print(rt-&gt;c.root);
    puts(&quot;&quot;);*/
    while(m--)
    {
        int op,l,r,k;
        scanf(&quot;%d&quot;,&amp;op);
        switch(op)
        {
            case 1:
                scanf(&quot;%d%d%d&quot;,&amp;l,&amp;r,&amp;k);
                printf(&quot;%d\n&quot;,getrank(rt,l,r,k)+1);
                break;
            case 2:
                scanf(&quot;%d%d%d&quot;,&amp;l,&amp;r,&amp;k);
                printf(&quot;%d\n&quot;,getkth(l,r,k));
                break;
            case 3:
                scanf(&quot;%d%d&quot;,&amp;l,&amp;k);
                chg(rt,k,l);
                a[l]=k;
                break;
            case 4:
                scanf(&quot;%d%d%d&quot;,&amp;l,&amp;r,&amp;k);
                printf(&quot;%d\n&quot;,getqian(rt,l,r,k));
                break;
            case 5:
                scanf(&quot;%d%d%d&quot;,&amp;l,&amp;r,&amp;k);
                printf(&quot;%d\n&quot;,gethou(rt,l,r,k));
                break;
        }/*
        print(rt,l);
        puts(&quot;&quot;);
        if(op!=3)
        {
            print(rt,r);
            puts(&quot;&quot;);
        }*/
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
