<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>bzoj 1031: [JSOI2007]字符加密Cipher - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content=".">
<meta property="og:type" content="article">
<meta property="og:title" content="bzoj 1031: [JSOI2007]字符加密Cipher">
<meta property="og:url" content="https://tkj666.github.io/5/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content=".">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.235Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bzoj 1031: [JSOI2007]字符加密Cipher">
<meta name="twitter:description" content=".">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666693">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="bzoj 1031: [JSOI2007]字符加密Cipher" class="lazyload">
          <h1>bzoj 1031: [JSOI2007]字符加密Cipher</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <p>.<br><a id="more"></a><br>裸后缀数组<br>因为学了好几次倍增都没学懂，所以这次决定学DC3！经过将近两天的研究，我发现还是<a href="https://www.cs.cmu.edu/afs/cs/project/pscico-guyb/realworld/www/papersS04/KaSa03.pdf" target="_blank" rel="noopener">Juha Kärkkäinen and Peter Sanders的论文</a>里的代码好懂<del>比罗穗骞的代码不知道高到哪里去了</del><br>代码：<br><del>垃圾bzoj不支持tuple，CE了两发</del></p>
<pre><code class="lang-cpp">#include&lt;bits/stdc++.h&gt;
using namespace std;

char ss[200010];
int s[200010],sa[200010];

#ifdef ONLINE_JUDGE
pair&lt;pair&lt;int,int&gt;,int&gt; make_tuple(const int &amp;x,const int &amp;y,const int &amp;z)
{
    return make_pair(make_pair(x,y),z);
}
#endif
inline int g(int x,int n0)
{
    return x&lt;n0?x*3+1:(x-n0)*3+2;
}
void radix(int *a,int *b,int *s,int n,int K)
{
    int *hh=new int[K+1];
    for(int i=0;i&lt;=K;i++)
    hh[i]=0;
    for(int i=0;i&lt;n;i++)
    hh[s[a[i]]]++;
    for(int i=1;i&lt;=K;i++)
    hh[i]+=hh[i-1];
    for(int i=n-1;i&gt;=0;i--)
    b[--hh[s[a[i]]]]=a[i];
}
void dc3(int *s,int *sa,int n,int K)
{
    int n0=(n+2)/3,n1=(n+1)/3,n2=n/3,n02=n0+n2;
    int *s12=new int[n02+3];
    s12[n02]=s12[n02+1]=s12[n02+2]=0;
    int *sa12=new int[n02+3];
    sa12[n02]=sa12[n02+1]=sa12[n02+2]=0;
    int *s0=new int[n0];
    int *sa0=new int[n0];
    for(int i=0,hh=0;i&lt;n;i++)
    if(i%3)
    s12[hh++]=i;
    if(n%3==1)
    s12[n02-1]=n;
    radix(s12,sa12,s+2,n02,K);
    radix(sa12,s12,s+1,n02,K);
    radix(s12,sa12,s,n02,K);
    int name=0,c1=-1,c2=-1,c3=-1;
    for(int i=0;i&lt;n02;i++)
    {
        if(s[sa12[i]]!=c1||s[sa12[i]+1]!=c2||s[sa12[i]+2]!=c3)
        {
            c1=s[sa12[i]];
            c2=s[sa12[i]+1];
            c3=s[sa12[i]+2];
            name++;
        }
        if(sa12[i]%3==1)
        s12[sa12[i]/3]=name;
        else
        s12[sa12[i]/3+n0]=name;
    }
    if(name&lt;n02)
    {
        s12[n02]=s12[n02+1]=s12[n02+2]=0;
        dc3(s12,sa12,n02,name);
        for(int i=0;i&lt;n02;i++)
        s12[sa12[i]]=i+1;
    }
    else
    {
        for(int i=0;i&lt;n02;i++)
        sa12[s12[i]-1]=i;
    }
    for(int i=0,hh=0;i&lt;n02;i++)
    {
        if(sa12[i]&lt;n0)
        s0[hh++]=sa12[i]*3;
    }
    radix(s0,sa0,s,n0,K);
    int i=n0-n1,j=0,hh=0;
    while(i&lt;n02&amp;&amp;j&lt;n0)
    {
        if(sa12[i]&lt;n0&amp;&amp;make_pair(s[g(sa12[i],n0)],s12[sa12[i]+n0])&lt;make_pair(s[sa0[j]],s12[sa0[j]/3])||
        sa12[i]&gt;=n0&amp;&amp;make_tuple(s[g(sa12[i],n0)],s[g(sa12[i],n0)+1],s12[sa12[i]+1-n0])&lt;make_tuple(s[sa0[j]],s[sa0[j]+1],s12[sa0[j]/3+n0]))
        sa[hh++]=g(sa12[i++],n0);
        else
        sa[hh++]=sa0[j++];
    }
    while(i&lt;n02)
    sa[hh++]=g(sa12[i++],n0);
    while(j&lt;n0)
    sa[hh++]=sa0[j++];
    delete[] s12;
    delete[] sa12;
    delete[] s0;
    delete[] sa0;
}
int main()
{
    scanf(&quot;%s&quot;,ss);
    int len=strlen(ss);
    for(int i=0;i&lt;len;i++)
    s[i]=ss[i];
    for(int i=0;i&lt;len;i++)
    s[i+len]=ss[i];
    len&lt;&lt;=1;
    s[len]=s[len+1]=s[len+2]=0;
    dc3(s,sa,len,127);/*
    for(int i=0;i&lt;len;i++)
    printf(&quot;%d\n&quot;,sa[i]);*/
    for(int i=0;i&lt;len;i++)
    {
        if(sa[i]&lt;(len&gt;&gt;1))
        printf(&quot;%c&quot;,s[sa[i]-1+(len&gt;&gt;1)]);
    }
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
