<!DOCTYPE html>

<html lang="zh-CN">

<head>
  
  <title>loj #2585. 「APIO2018」新家 - tkj&#39;s Blog</title>
  <meta charset="UTF-8">
  <meta name="description" content="null">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<%= theme.analytics.gtm_container_id %>');</script>
<!-- End Google Tag Manager -->
<% } %>
  <% if(theme.site_verification.google) { %>
    <!-- Site Verification -->
    <meta name="google-site-verification" content="<%= theme.site_verification.google %>" />
<% } %>
<% if(theme.site_verification.baidu) { %>
    <!-- Site Verification -->
    <meta name="baidu-site-verification" content="<%= theme.site_verification.baidu %>" />
<% } %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
  <meta name="description" content="题意：不想写了">
<meta name="keywords" content="set,二分,线段树">
<meta property="og:type" content="article">
<meta property="og:title" content="loj #2585. 「APIO2018」新家">
<meta property="og:url" content="https://tkj666.github.io/116/index.html">
<meta property="og:site_name" content="tkj&#39;s Blog">
<meta property="og:description" content="题意：不想写了">
<meta property="og:locale" content="zh-CN">
<meta property="og:updated_time" content="2020-12-09T03:04:25.395Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="loj #2585. 「APIO2018」新家">
<meta name="twitter:description" content="题意：不想写了">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css,gh/nexmoe/nexmoe.github.io@latest/lib/mdui_043tiny/css/mdui.css,gh/nexmoe/nexmoe.github.io@latest/lib/iconfont/iconfont.css,gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css?v=233" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css?v=1607493666648">
</head>

<body class="mdui-drawer-body-left">
  <% if(theme.analytics.gtm_container_id) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= theme.analytics.gtm_container_id %>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(/img/background.jpg)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="/" title="tkj" class="mdui-btn mdui-btn-icon"><img src="/img/avatar.png" alt="tkj"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://github.com/theme-nexmoe/hexo-theme-nexmoe" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-post">
  
      <div class="nexmoe-post-cover" style="padding-bottom: 6.666666666666667%;"> 
          <img data-src="/img/background.jpg" data-sizes="auto" alt="loj #2585. 「APIO2018」新家" class="lazyload">
          <h1>loj #2585. 「APIO2018」新家</h1>
      </div>
  
  
  <div class="nexmoe-post-meta nexmoe-rainbow" style="margin:10px 0!important;">
    <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
    <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
    <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
</div>

  <div class="nexmoe-post-right">
    
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#题意："><span class="toc-number">1.</span> <span class="toc-text">题意：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#题解："><span class="toc-number">2.</span> <span class="toc-text">题解：</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#代码："><span class="toc-number">3.</span> <span class="toc-text">代码：</span></a></li></ol>
            </div>
        </div>
      </div>
    
  </div>

  <article>
    <h2 id="题意："><a href="#题意：" class="headerlink" title="题意："></a>题意：</h2><p><del>不想写了</del><br><a id="more"></a></p>
<h2 id="题解："><a href="#题解：" class="headerlink" title="题解："></a>题解：</h2><p>完全想歪了。一开始一直在想把每种商店分开考虑，然而并不会做。。<br>事实上问题就是问最小要多大的区间才能包含所有颜色。我们可以先二分答案，当前答案$d$合法的条件就是$[x + d + 1, +\infty)$的前驱的最小值$\ge x - d$，这个用线段树维护就好。注意因为一个位置可能包含多个商店，所以每个点开一个可删堆或<code>multiset</code>维护。<br>然而这样是$log^2$的，而我的常数又超级大。。所以写了一个$log$的做法。具体来说就是把二分+线段树改成直接在线段树上二分，yy一下就出来了吧。</p>
<h2 id="代码："><a href="#代码：" class="headerlink" title="代码："></a>代码：</h2><pre><code class="lang-cpp">#include &lt;bits/stdc++.h&gt;
using namespace std;

char O[1&lt;&lt;14],*S=O,*T=O;
#define gc (S==T&amp;&amp;(T=(S=O)+fread(O,1,1&lt;&lt;14,stdin),S==T)?-1:*S++)
inline int read(){
    int x=0,f=1; char ch=gc;
    while(ch&lt;&#39;0&#39; || ch&gt;&#39;9&#39;){if(ch==&#39;-&#39;)f=-1; ch=gc;}
    while(ch&gt;=&#39;0&#39; &amp;&amp; ch&lt;=&#39;9&#39;){x=(x&lt;&lt;1)+(x&lt;&lt;3)+(ch^48); ch=gc;}
    return x*f;
}
const int inf = 2147483647;
int n, k, q, nn = 0, num = 0, cnt = 0;
multiset&lt;int&gt; s[300010];
struct th
{
    int x, type, t, p, ans;
} a[900010];
struct hp
{
    priority_queue&lt;int, vector&lt;int&gt;, greater&lt;int&gt; &gt; a, b;
    void insert(int x) { a.push(x); }
    void erase(int x) { b.push(x); }
    int top()
    {
        while (!b.empty() &amp;&amp; b.top() == a.top()) a.pop(), b.pop();
        return a.top();
    }
    bool empty() { return a.size() == b.size(); }
};
struct tree
{
    int l, r, c;
    tree *lc, *rc;
    hp *s;
    tree(int l, int r) : l(l), r(r), c(inf), lc(NULL), rc(NULL), s(NULL) {}
} *root;

int cmp(th x, th y)
{
    return x.t == y.t ? x.type * x.p &gt; y.type * y.p : x.t &lt; y.t;
}
void chg(tree *i, int p, int o, int n)
{
    if (i-&gt;l == i-&gt;r)
    {
        if (!i-&gt;s) i-&gt;s = new hp;
        if (o != inf) i-&gt;s-&gt;erase(o);
        if (n != inf) i-&gt;s-&gt;insert(n);
        i-&gt;c = ((!i-&gt;s-&gt;empty()) ? (i-&gt;s-&gt;top()) : inf);
        return;
    }
    int md = i-&gt;l + i-&gt;r &gt;&gt; 1;
    if (p &lt;= md)
    {
        if (!i-&gt;lc) i-&gt;lc = new tree(i-&gt;l, md);
        chg(i-&gt;lc, p, o, n);
    }
    else
    {
        if (!i-&gt;rc) i-&gt;rc = new tree(md + 1, i-&gt;r);
        chg(i-&gt;rc, p, o, n);
    }
    i-&gt;c = min(i-&gt;lc ? i-&gt;lc-&gt;c : inf, i-&gt;rc ? i-&gt;rc-&gt;c : inf);
}
int get(tree *i, int pos, int now)
{
    if (i-&gt;l == i-&gt;r)
    {
        return i-&gt;l;
    }
    int md = i-&gt;l + i-&gt;r &gt;&gt; 1;
    if (pos &gt; md)
    {
        if (!i-&gt;rc) i-&gt;rc = new tree(md + 1, i-&gt;r);
        return get(i-&gt;rc, pos, now);
    }
    int hh = min(now, i-&gt;rc ? i-&gt;rc-&gt;c : inf);
    if (hh &gt;= pos - (md - pos))
    {
        if (!i-&gt;lc) i-&gt;lc = new tree(i-&gt;l, md);
        return get(i-&gt;lc, pos, hh);
    }
    else
    {
        if (!i-&gt;rc) i-&gt;rc = new tree(md + 1, i-&gt;r);
        return get(i-&gt;rc, pos, now);
    }
}
int cmpp(th x, th y)
{
    return x.p &lt; y.p;
}
int main()
{
    n = read(), k = read(), q = read();
    for (int i = 1; i &lt;= n; i++)
    {
        int x, type, l, r;
        x = read(), type = read(), l = read(), r = read();
        a[++num] = {x, type, l, 1, 0};
        a[++num] = {x, type, r, -1, 0};
    }
    for (int i = 1; i &lt;= q; i++)
    {
        num++;
        a[num].x = read(), a[num].t = read();
        a[num].type = 0;
        a[num].p = i;
    }
    sort(a + 1, a + 1 + num, cmp);
    root = new tree(1, 1000000001);
    for (int i = 1; i &lt;= k; i++)
    {
        s[i].insert(1000000001);
        chg(root, 1000000001, inf, -inf);
    }
    for (int i = 1; i &lt;= num; i++)
    {
        if (a[i].type)
        {
            if (a[i].p == 1)
            {
                if (s[a[i].type].find(a[i].x) == s[a[i].type].end())
                {
                    if (s[a[i].type].size() == 1) cnt++;
                    multiset&lt;int&gt;::iterator it = s[a[i].type].lower_bound(a[i].x);
                    if (it != s[a[i].type].begin())
                    {
                        multiset&lt;int&gt;::iterator pre = it;
                        pre--;
                        chg(root, *it, *pre, a[i].x);
                        chg(root, a[i].x, inf, *pre);
                    }
                    else
                    {
                        chg(root, *it, -inf, a[i].x);
                        chg(root, a[i].x, inf, -inf);
                    }
                }
                s[a[i].type].insert(a[i].x);
            }
            else
            {
                if (s[a[i].type].count(a[i].x) == 1)
                {
                    multiset&lt;int&gt;::iterator it = s[a[i].type].find(a[i].x);
                    if (it != s[a[i].type].begin())
                    {
                        multiset&lt;int&gt;::iterator pre = it;
                        pre--;
                        chg(root, a[i].x, *pre, inf);
                        it++;
                        chg(root, *it, a[i].x, *pre);
                    }
                    else
                    {
                        chg(root, *it, -inf, inf);
                        chg(root, *++it, a[i].x, -inf);
                    }
                }
                s[a[i].type].erase(s[a[i].type].find(a[i].x));
                if (s[a[i].type].size() == 1) cnt--;
            }
        }
        else
        {
            if (cnt &lt; k) a[i].ans = -1;
            else
            {
                a[i].ans = get(root, a[i].x, inf) - a[i].x;
            }
        }
    }
    sort(a + 1, a + 1 + num, cmpp);
    for (int i = 1; i &lt;= num; i++)
        if (a[i].type == 0)
            printf(&quot;%d\n&quot;, ~a[i].ans ? a[i].ans : -1);
}
</code></pre>

  </article>

  
    <% if (page.hide_copyright !== true && theme.copyright || page.copyright) { %>
  <div class="nexmoe-post-copyright">
    <strong><%- __('copyright.author') %>：</strong><%= config.author %><br>
    <strong><%- __('copyright.permalink') %>：</strong><%- link_to(page.permalink, page.permalink, {external: true}) %><br>
    <% if (page.copyright) { %>
      <%- page.copyright %>
    <% } else { %>
      <%- theme.copyright %>
    <% } %>
  </div>
<% } %>

  
  
  <div class="nexmoe-post-meta nexmoe-rainbow">
    <% if (page.categories && page.categories.length){ %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: 'nexmoefont icon-appstore-fill ',
            style: 'none',
            separator: ''
        }) %>
    <% } %>
    <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'nexmoefont icon-tag-fill ',
            style: 'none',
            separator: ' '
        }) %>
    <% } %>
</div>

  <div class="nexmoe-post-footer">
    <section class="nexmoe-comment">
    <%- partial('_comment/' + theme.comment) %>
</section>
  </div>
</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<% if (theme.cdn.copy) { %>
<script src="<%- theme.cdn.copy %>"></script>
<% } %> <%- js_auto_version('js/app') %>

  <% if (theme.analytics.google_site_id) { %>
    <%- partial('_analytics/google') %>
<% } %>
<% if (theme.analytics.gtags_site_id) { %>
    <%- partial('_analytics/gtags') %>
<% } %>
<% if (theme.analytics.cnzz_site_id) { %>
    <%- partial('_analytics/cnzz') %>
<% } %>
<% if (theme.analytics.tencent_site_id) { %>
    <%- partial('_analytics/tencent') %>
<% } %>
<% if (theme.analytics.la_site_id) { %>
    <%- partial('_analytics/la') %>
<% } %>
<% if (theme.analytics.baidu_site_id) { %>
    <%- partial('_analytics/baidu') %>
<% } %>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
            processEscapes: true
        }
    });
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i)
            all[i].SourceElement().parentNode.className += ' has-jax';
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
